[2017-01-01 18:00] etewiah opened #2 "Support for RETS to import MLS data"
The number 1 feature request I have received since launching PropertyWebBuilder has been to add support for importing MLS data.
This is on my TODO list and I'm looking at various options such as:

- Connect directly to MLSs that support RETS using a gem such as https://github.com/josephholsten/rets4r or https://github.com/estately/rets
- Use a third party intermediate service like https://retsrabb

[2017-01-02 10:24] etewiah opened #3 "Add extra templates"
I would like to add between 15 and 30 templates to give users a choice of how their websites will look.

Right now I am working on adding this template created by Md. Altaf Hossain under the MIT license:

http://www.markups.io/items/home-property-free-real-estate-website-template

Many thanks to him for making his template freely available.  I would recommend him as someone to [contact](http://www

[2017-01-10 18:29] jwoertink commented on #2
This project looks pretty cool! I wrote a gem a while back https://github.com/jwoertink/tourets that could be good for it. I don't work in this field anymore, so I haven't had the chance to really work on it. If you're interested in it, I can make you a maintainer on it, and help out where I can.

[2017-01-11 13:01] etewiah commented on #2
@jwoertink thanks for reaching out - great to hear from you!

Just had a look at tourets - it looks ideal for my use case.  Right now I'm still busy fixing some bugs, adding tests etc.  I hope to be able to start work on RETS integration in the next couple of weeks or so.  At that point I will give tourets a spin and see if it works out for me.

The only thing I see right now that might be an issu

[2017-01-11 15:23] etewiah opened #4 "Improve language support"
Currently only English and Spanish are supported.  I would like to add as many languages as possible.  Its quite easy to create the files for any language and to populate it with basic translations from google.  After that though I would need a native speaker to got through and make sure the translations are correct.
If you speak any language well enough to help with this please mention it here an

[2017-01-11 16:21] jwoertink commented on #2
My master branch is way out of date, but I have a rails branch that already has the placester gem ripped out. As far as I know, you have to pay to have access to the MLS and RETS. The idea behind TouRETS though was for an easy rails integration while being able to support multiple RETS server.

I'll add you on there, and we can work on making it more solid. Maybe @russ would like to get in on this

[2017-01-11 18:36] etewiah commented on #2
Thanks @jwoertink - got your invite.  I'll look into it as soon as I get the chance.

[2017-02-02 14:43] etewiah opened #5 "Screenshots and other images"
This issue is to allow storing of screenshots and other images.

[2017-02-07 09:21] etewiah commented on #2
Just found out today about an initiative to make it easier to access MLS data for development purposes.  Applying for access now.  Hope it makes things easier.

http://www.inman.com/2017/01/26/free-mls-data-feed-could-speed-up-real-estate-innovation/amp/

[2017-02-13 19:29] etewiah opened #6 "Add API that can be used by ember, angular and react frontends"
A useful function of an open source property listings website is to act as a standard API against which to experiment with various JavaScript frontend frameworks.
To this end I am opening this issue to track the development of an API to expose property details as JSON objects that can be easily used by an ember, angular or reactjs frontend.

I have also started on this adaption of an example angul

[2017-02-15 18:56] etewiah commented on #5
![pwb_iphone_landing](https://cloud.githubusercontent.com/assets/1741198/22990222/bfec0168-f3b8-11e6-89df-b950c4979970.png)

landing page on an iphone

[2017-02-16 22:45] etewiah opened #7 "evaluate/help/reuse grapesjs"
grapejs is an awesome project that allows the design of custom layouts without technical knowledge.  I had been meaning to add this kind of functionality.

To avoid reinventing the wheel I would like to incorporate it into this project.  There is currently an issue open in grapejs to encourage others to do the same:

[https://github.com/artf/grapesjs/issues/20](https://github.com/artf/grapesjs/iss

[2017-03-08 01:09] cvillalba opened #8 "Dependencies problem when deploy (not in heroku)"
Hi, first of all great project, thanks for open-sourced it.

I've been trying to deploy the project un my server and locally, and I'm getting a dependency issue when I hit `bundle install`:

[code]

I'm using ruby 2.4.0

Let me know if you can help me with this issue

Thanks

[2017-03-08 09:05] etewiah commented on #8
Hey @cvillalba, thanks for trying it out.

I am guessing that you created a new rails project and added pwb as a gem to that project.

If that is the case can you try adding the globalize gem to your rails project by adding this line to your gemfile:

gem 'globalize', git: 'https://github.com/globalize/globalize'

[2017-03-09 00:55] cvillalba commented on #8
@etewiah it was exactly what I needed.

I have one more question though. Once I deploy locally (using `rails server`) I don't see the application in localhost:3000

Thanks, cheers.

[2017-03-09 10:30] etewiah commented on #8
@cvillalba glad it is working.

To see the app when you browse to the root you will have to mount it in your routes.rb file like so:
  mount Pwb::Engine => '/'

I will update the documentation.

BTW, are you a native Spanish speaker?  I want to have the documentation available in different languages so I would appreciate some help in keeping this document updated in Spanish:

https://github.com/et

[2017-03-09 12:10] etewiah commented on #8
Also, you can install migrations etc with these commands:

rails pwb:install:migrations
rails db:create
rails db:migrate
rails pwb:db:seed

[2017-03-10 01:18] cvillalba commented on #8
Hey

About the documentation, yes I'm native Spanish speaker and I happy to help with the translation. I'll send a PR as soon as I can.

Sorry to bother you again, but I'm getting an error when I run `rails db:migrate`:
`NoMethodError: undefined method `configure' for MoneyRails:Module`

I'm really new in ruby on rails, so sorry about all the questions.

Cheers

[2017-03-10 08:34] etewiah commented on #8
No worries - it seems an older version of MoneyRails is used if you have it installed.  I have fixed this by specifying the minimum version of MoneyRails needed in the engine's gemspec.

Update to the fixed version by running  "bundle update pwb" and try again.

Also, make sure you are using postgres as your database - I just now updated the readme with that.

If you come across any other issues,

[2017-03-10 17:00] etewiah commented on #3
I currently have a solution for theming which needs a bit more testing before it is rolled out.  It works by having different folders located here for each theme:

https://github.com/etewiah/property_web_builder/tree/master/app/themes

In the application_controller I have a set_theme_path method that reads the “theme_name” value for the current agency.
It then uses prepend_view_path to add the the

[2017-03-11 15:05] cvillalba commented on #8
Thanks

That fixed it, but I had another problema that i'll report in other issue.

btw already started with the spanish update in a branch that I just create.

thanks again

[2017-03-11 15:05] #8 closed

[2017-03-11 17:07] cvillalba opened #9 "unable to run migrations"
Hello Ed

I have an issue running `rails db:migrate`:

undefined method `json' for #<ActiveRecord::ConnectionAdapters::TableDefinition:0x00000004709d98>

I have try modifying the migration file associated (20170310024756_create_pwb_agencies.pwb.rb)

After this I notice that the files 20170310024769_create_pwb_websites.pwb.rb and 20170310024765_create_pwb_clients.pwb.rb also have json type columns.

[2017-03-11 22:40] etewiah commented on #9
@cvillalba - could you check which version of postgres you are using by running "postgres -V"?

I believe json support in postgres was added in version 9.2 so you will need to have at least that version.

[2017-03-11 22:41] etewiah commented on #8
Great - looking forward to the Spanish translation ;)

[2017-03-14 23:14] cvillalba commented on #9
@etewiah I think I have a version that should work.

[code]

Cheers

[2017-03-16 10:21] etewiah commented on #9
I'm using 9.5.1 but I'd expect what you have to work as well.

Send me an email ( ed at propertywebbuilder.com ) and lets setup a skype call so I can troubleshoot with you.

[2017-03-23 07:51] beeyatch commented on #4
We would love to provide you german and french translations. Let me know how to start.

[2017-03-24 17:59] etewiah commented on #4
Hurraaaay!  That's great.  Thanks for offering to help.

The files that need translation are here:

https://github.com/etewiah/property_web_builder/tree/master/config/locales

Each file ends with a ".language_code.yml" extension so as you can see all that remains for me to complete the French translations is the admin.fr.yml file.

For the German translations I need to start from scratch.  I can o

[2017-03-30 12:43] etewiah commented on #9
Hi Carlos, can you confirm that after our call last night everything is working fine and I can close this issue?

[2017-04-02 21:43] cvillalba commented on #9
Thank you for pointing out that my database configuration was wrong.
I haven't try going further but the error mentioned here is no longer sowing up.

Thanks again, cheers

[2017-04-02 21:43] #9 closed

[2017-04-14 17:04] etewiah commented on #4
Hi @beeyatch, I never heard back from you.  Still able to help?

[2017-04-14 21:37] cvillalba commented on #4
@etewiah I can help with German, not much with French though.

[2017-04-14 21:42] cvillalba commented on #9
Hi Ed, sorry I didn't answer earlier.

It actually worked perfect. I did have another issue though when the app
was already up and running, I opened an issue in github to give more
visibility.

Thanks again for all your help

Take care

2017-03-30 8:43 GMT-04:00 Ed Tewiah <notifications@github.com>:

--

Carlos Antonio Villalba Julio.-

[2017-04-14 21:49] etewiah commented on #4
@cvillalba that would be awesome.  Are my instructions clear enough for you to be able to start on that?

[2017-04-14 23:04] cvillalba opened #11 "Problem when default configurations are changed"
Hi again Ed

I have finally deployed your app succesfully in my local environment and let me tell you that it's great.

So far I was going thought some configurations and I realized that when I changed the default currency, when I pressed "Go To Site" I got a missing template error, where the log file shows this:

[code]

Please let me know if you can help me this issue.
Thanks
Cheers

[2017-04-14 23:45] cvillalba commented on #4
@etewiah yeah, no problem. It will be done in a couple of days

[2017-04-15 11:00] etewiah commented on #11
Hi @cvillalba, that is indeed a bug - thanks for pointing it out.

I will try to have a fix by Monday ( can't promise but will try ;)

In the meantime you can work around this by going to the console and running:

[code]

[2017-04-15 14:31] etewiah commented on #11
I've just pushed out a fix.  You can update the version of the pwb gem you are using to the latest by running:

`bundle update pwb`

BTW, you can take a sneek preview of the themes functionality I'm working on at the moment by browsing to "/en/admin/website/themes/default" on your site.

Or on the demo site:
https://propertywebbuilder.herokuapp.com/en/admin/website/themes/default

If you see a rea

[2017-04-15 14:33] etewiah commented on #3
I have implemented an experimental ui for changing the theme.  Have a look here if you are interested:

https://propertywebbuilder.herokuapp.com/en/admin/website/themes/default

[2017-04-19 01:09] cvillalba commented on #11
Problem solved updating gem.

Thank you very much @etewiah

[2017-04-19 01:09] #11 closed

[2017-04-19 11:04] etewiah commented on #11
Great, glad to hear.  Let me know how it goes with the German translations - will be nice to be able to add another supported language.

[2017-04-24 14:50] mcohen9 commented on #2
Just saw the updates for importing data from the MLS. looking pretty good so far  this is exactly what im looking for. A suggestion would be to add support for OLR imports since its the main DB used for the NYC real estate market.

[2017-04-24 17:43] etewiah commented on #2
Hi @mcohen9 , that was fast - I haven't even got round to writing about it here ;)

I have just had a look at the OLR website and they don't give me a chance to create a test account.  Can you provide me a test account that I can use for development purposes?  It can be just a temporary one that is deleted after a few days.

[2017-04-24 20:04] mcohen9 commented on #2
Thanks man! yes whats your email?

[2017-04-24 21:55] etewiah commented on #2
No worries @mcohen9. Just send me an email (ed at propertywebbuilder.com) and let's figure out a way to make it work.

[2017-04-27 01:01] edwood007 opened #12 "Installing"
Hello, : )
I've installed Wordpress, Joomla etc but how do you install this?  I've uploaded to my server etc ..
Thanks,
Ed

[2017-04-27 07:58] etewiah commented on #12
In the README I explain that you can deploy just by clicking this button:

[![Deploy](https://www.herokucdn.com/deploy/button.svg)](https://heroku.com/deploy?template=https://github.com/etewiah/pwb-for-heroku)

Or by following these instructions:

Install into an existing Rails project by adding these lines in your applications's Gemfile:

[code]

Also, be sure to use Postgres as your database (by

[2017-04-28 09:54] etewiah opened #13 "Support for scraping data from other real estate websites"
Another thing I've had people requesting is the ability to import data from a webpage url.  Not everyone uses an MLS and sometimes this is the easiest way to migrate from another website provider where only a few properties are listed.
I already looked into this and it will be a bit tricky.  Some sites can't be scraped and each one that can be scraped will need some slightly different rules.
It of

[2017-04-29 14:40] etewiah commented on #4
Hi all,

Thanks to the awesome [i18n-tasks](https://github.com/glebm/i18n-tasks) project by @glebm I am able to generate locale files using google translate.  The translations are not perfect of course but it means I have a starting point which should make the process easier.

I now have these google translated files which I need to have verified:

https://github.com/etewiah/property_web_builder/b

[2017-05-09 23:22] etewiah commented on #5
![pwb_ipad_admin_carousel_lg](https://cloud.githubusercontent.com/assets/1741198/25876638/dfda7a70-351e-11e7-8438-1522f8045207.png)

[2017-05-11 00:23] calebyk opened #15 "Password Reset Error.."
I am trying to reset my password, but I have got this error message..

Missing host to link to! Please provide the :host parameter, set default_url_options[:host], or set :only_path to true

[2017-05-11 20:36] etewiah commented on #15
Hi @calebyk ,
I had the chance to investigate this today.  I could not reproduce the error you mentioned.  I suspect you might have made some changes to some links and that has caused the error.  Can you let me know if you changed anything?

There was a problem though with getting redirected to a non-existing page after changing the password.  I think it is unrelated but you can try updating just

[2017-05-11 21:44] #12 closed

[2017-05-11 22:00] calebyk commented on #15
--
                          \\\\\lll///////
                           ( (o) (o))
**==oOOO=======(_)=====OOOo=========**
                        Caleb Y. Kang
 "Resourceful Center with more than Conquerors"
               "300 CEOs! 300 STAFFs!"
                *"Builder's Life"*
               (Cell) 212-677-2451
               (From Korea) 070-8278-8973
**=================Oooo==============**

[2017-05-12 14:11] PaulyStix commented on #2
Hi,

I am currently in Albany,NY using https://crmls.paragonrels.com/ParagonLS/Default.mvc. Any help getting this added would be great!

[2017-05-12 15:58] etewiah commented on #2
Hi @PaulyStix , I will have a look sometime next week.  Do you have test credentials or a test server somewhere I can use for developing with?

[2017-05-12 17:34] PaulyStix commented on #2
Hi Ed,

Here is the link to the MLS we use. Also is there a way to edit the website
name to take out the herokuapp part? We have a domain name and I wondered
if that is possible to use instead.

https://crmls.paragonrels.com/ParagonLS/Default.mvc/Login

On May 12, 2017 11:58 AM, "Ed Tewiah" <notifications@github.com> wrote:

[2017-05-12 18:25] mmikeww opened #16 "Admin menu should collapse after selection"
I'm just testing out the demo site. When you click on the 3 lines to open up the menu on the left, after selecting an item from the menu, the menu remains open. I think it should collapse back in

[2017-05-12 18:44] etewiah commented on #16
Thanks for pointing that out.

I believe you mean in the admin menu on a small screen right?  I just had a look and you are right - it does not collapse back after an item is selected.

I will look into it as soon as I get the chance.

[2017-05-12 18:52] mmikeww commented on #16
Ah yes, my browser window wasn't full sized. I now see that by default that menu is always visible with larger sized screens

[2017-05-12 18:55] etewiah commented on #2
Hi @PaulyStix, heroku does indeed allow you to add custom domains for free.  The instructions are here:

https://devcenter.heroku.com/articles/custom-domains

If that is too confusing, give me a shout and I'll talk you through it.
(BTW - for each question, it is better to open a different issue.  This will make it easier for people who have the same question in future to find the answer)

For the

[2017-05-12 18:56] etewiah commented on #16
Still a bug ;)

I'll look into it.

[2017-05-17 15:13] mmikeww opened #17 "Measurement unit isn't updated in admin panel"
1. Change a property from square meters to sq feet.
2. Save
3. The top summary part in the admin panel does not get updated

http://imgur.com/a/NyjhA

[2017-05-18 07:49] etewiah commented on #17
You're great at spotting the details - really appreciate that.

It will only take a few minutes to fix this and the other issue you raised but I'm busy with some major improvements to the content management side of things so won't be able to do it right away.  Will update this issue as soon as I get the chance to fix it.

[2017-05-18 11:21] PaulyStix commented on #2
Good Morning Ed,

I don't think I create a test user but I still looking into it. We could
always share a screen and I could let you got through the system if that
would help.

Thanks,
Paul
ᐧ

On Fri, May 12, 2017 at 2:55 PM, Ed Tewiah <notifications@github.com> wrote:

[2017-05-18 11:44] etewiah commented on #2
Hi Paul, sharing a screen won't help much I'm afraid.  When I get the chance I'll approach the MLS myself to ask if they can provide some test/dev data I can work with.

Did you have any luck with the custom domain on heroku?

[2017-05-18 12:17] mmikeww commented on #17
No worries man. I'd try to fix them myself but I'm not a ruby dev. I got the thing running on heroku but can't figure out how to deploy updates from github to heroku. Still learning

[2017-05-18 12:19] PaulyStix commented on #2
Hi Ed,

I managed to get this far with the domain. (See attached) I am not sure how
to configure the DNS to point at the target but I'm still trying.

Is there anything I can do on my end for the MLS? If I login can I pull the
code on the page to maybe help you?

Thanks,
Paul
ᐧ

On Thu, May 18, 2017 at 7:45 AM, Ed Tewiah <notifications@github.com> wrote:

[2017-05-18 12:38] etewiah commented on #2
Hi Paul, let's continue this conversation by email - everyone subscribed to this issue will get notifications about each comment here which can get annoying for them.
I can't see your attachment so please email it to me ( ed at propertywebbuilder.com ) and I'll try to help.

[2017-05-18 12:42] etewiah commented on #17
On the heroku dashboard for your app, there is a deploy page.  In there you will see a section that allows you to "deploy a github branch".  If you set that up and click the button it will do an update.
If you encounter any problems with that just let me know.

[2017-05-18 12:52] mmikeww commented on #17
Yeah I'm working on it. It failed using the 'property_web_builder' repo, gonna try next with the 'pwb_for_heroku' repo. I guess I'd need to change some Gemfiles in there to point to my copy of it though?

[2017-05-18 13:01] etewiah commented on #17
Yeah, you want the pwb_for_heroku repo.  Should work without any changes.
For major updates ( where db migrations need to be run for example ) you may need to use the heroku console.  We can discuss that later when needed.

[2017-05-18 13:03] mmikeww commented on #17
Yeah but so if I make a fix in my fork, then to test it I should change the Gemfile and Gemfile.lock within the `pwb_for_heroku` repo to point to my fork?

[2017-05-18 14:33] etewiah commented on #17
If you are deploying your own fork, don't use the "Deploy to Heroku" button - that is coded to use the main "pwb_for_heroku" repo.
To deploy your own fork you need to follow the standard procedure for a heroku deploy.
If any of that is not clear please open a separate issue as this current issue is for something else ;)

[2017-05-19 08:32] etewiah commented on #15
Hi @calebyk, any update on this?  If I don't hear back from you shortly I will close this ticket as I cannot reproduce the error you mention.

[2017-05-19 09:08] etewiah opened #18 "Allow users to add custom css"
I have had a few people asking for the ability to add their own css so I will work on this shortly.

[2017-05-19 11:19] calebyk commented on #15
Thank you,

It is done well..
Thank you.. again..

Sent from my iPhone

[2017-05-19 14:23] etewiah commented on #15
Great - happy to hear that.  Any other issues, feel free to let me know.

[2017-05-19 14:23] #15 closed

[2017-05-21 04:20] cvillalba opened #19 "Change of navigation properties don't save"
Hi Ed

I have updated pwb gem and after deploy in heroku, I notice that there was no menu next to the ADMIN button.
I check the administration screen and notice the navigation configuration section, but after change the configuration to show some options, changes don save, so now the website has no menu displaying.

Do you have any idea what can be wrong ?

Thanks again.

PS: Great improvements in

[2017-05-21 07:46] etewiah commented on #19
Hi Carlos, thanks for checking out the latest update.  Do you get any errors in the admin panel when you try to save changes to the navigation? If you open up the javascript console in chrome you might find more info.

Also you might want to run this command in the console to delete all the navigation items:

`Pwb::Section.destroy_all`

And then run this to recreate them from the seed data:

`hero

[2017-05-21 15:30] cvillalba commented on #19
Sorry to ask, but does the first command should be run with rake as well ?, and only locally

[2017-05-21 22:20] etewiah commented on #19
Ah no, you just need to get to the console first.  So for heroku its:

`heroku console`

Or locally:

`rails console`

If you wish, you can give me permissions via the heroku dashboard to your app and I'll have a look.

[2017-05-24 00:20] cvillalba commented on #19
Thank you very much for the answer.

That fixed everything .

Cheers :smile:

[2017-05-24 00:20] #19 closed

[2017-05-24 07:26] etewiah commented on #19
Great to hear.  Looking forward to the pull request with the German translations.

[2017-05-24 14:12] etewiah commented on #17
Hi @mmikeww, hope deploying updates to heroku worked for you.  The original issue raised here has been resolved so I'm going to close this.

[2017-05-24 14:12] #17 closed

[2017-05-24 14:43] etewiah commented on #16
Fixed in latest update

[2017-05-24 14:43] #16 closed

[2017-05-24 14:51] mmikeww commented on #17
Its impossible to view the diff because of the minified javascript... perhaps the code in the repo should be saved in readable form and then minified during the build/deploy?

[2017-05-24 17:58] mmikeww commented on #17
I ask, because I'm not seeing the fixes when I depoy to heroku, and I'm having a hard time inspecting the diff

[2017-05-25 16:00] etewiah commented on #17
Yes, it's not possible to figure out the javascript for the admin panel right now.  I aim to restructure the code soon to include a readable form  of it in the main project.
For now you'll just have to trust me that it's fixed ;)   If you look at this for example, you can see that any changes to the measurement unit are reflected in the top summary part right away.

[2017-05-27 02:31] mmikeww commented on #17
Sorry I'm new to heroku... I hadn't updated the gemfile in the pwb-for-heroku repository and that's why I wasn't seeing the changes!

[2017-05-27 09:14] etewiah commented on #17
Ah cool, glad you got it working ;)

[2017-05-29 18:40] etewiah opened #22 "Provide enhanced content management functionality"
I would like to give users more options for managing content in the website without writing raw html.  To this end I have looked at a few options and decided to do this by integrating ComfortableMexicanSofa.

It provides a nice templating solution so I can create templates for different sections of the website and allow users to simply fill in the text for each section they want to activate.

Read

[2017-06-04 11:33] etewiah commented on #18
This has now been implemented.  See it in action here:

https://propertywebbuilder.herokuapp.com/en/admin/website/settings/appearance

[2017-06-04 11:33] #18 closed

[2017-06-07 03:14] cvillalba opened #24 "Legal Notice and Privacy Policy links in the footer won't display content"
Hi @etewiah
I notice that Legal Notice and Privacy Policy links in the bottom of the footer don't display any content when one click them.

Let me know if I can help you fix this.

Cheers

[2017-06-07 21:31] etewiah commented on #24
Can you confirm that there is content provided to be displayed?   The link in the admin panel is "/en/admin/website/content/legal"

On the demo site the content displayed corresponds to what is provided in the admin panel.

[2017-06-07 21:46] cvillalba commented on #24
Hi Ed

Yes I have content un both Legal Notice and Privacy Policy, also in both Spanish and English.

Cheers

[2017-06-08 13:39] etewiah commented on #24
That is quite strange.  Can you tell me if you get some content returned at this url:

/api/v1/web-contents?filter%5Btag%5D=legal

You can also start a console session with "heroku run rails console" and type the ff:

`content = Pwb::Content.find_by_key("privacyPolicy")`
`content.raw_es`
`content.raw_en`

Let me know if there is content for raw_es and raw_en.

[2017-06-10 02:20] cvillalba commented on #24
@etewiah I see the content on all the options you tell me to see.

I don't get why I can't see the content in the site

[2017-06-10 10:43] bluesky321 commented on #4
I can provide you Chinese (Traditional-hk) translation. Can you make the locale files? :-)

[2017-06-13 08:37] etewiah commented on #4
Hi @bluesky321 , thanks a lot for the offer.  I've just added the locale file here:

https://github.com/etewiah/property_web_builder/blob/master/config/locales/zh-HK.yml

Looking forward to the translations.  Please let me know if you need help with anything at all.

[2017-06-14 10:16] etewiah commented on #24
Apologies for the delay in getting back to you.  I can see what has happened.

I am now using a "section_key" column and I forgot that your installation would not have had that column populated.  Please got to the heroku console ( "heroku run rails console" )  and type the following:

[code]

[2017-06-14 17:56] webchi opened #25 "Rails version"
Hi. README sad:

But in the bundler:
[code]
What version is work?

[2017-06-14 21:15] etewiah commented on #25
I use Rails 5.0.3 so I know that works.  I haven't tested with other versions of Rails 5 but I don't know of any particular issues with other versions of Rails 5.
Are you having a problem with the version of rails that you are using?

[2017-06-14 21:50] cvillalba commented on #24
Hi Ed

Thanks I'll try this as soon as I get home.

One question about it, din't this column should have been populated when I
ran the seed back when I had the menu display issue?

Cheers

2017-06-14 6:16 GMT-04:00 Ed Tewiah <notifications@github.com>:

--

Carlos Antonio Villalba Julio.-

[2017-06-15 12:16] etewiah commented on #24
No, the contents table only get populated by the seed tasks when no rows exist.

[2017-06-15 13:28] cvillalba commented on #24
Ohh, so how I can recreate the tables with all the rows required?.

btw, the fix worked, but after I apply the commands you sent me, the site
didn't load at all so I ran the seed again and everything load perfectly

Thanks again.

Cheers

2017-06-15 8:16 GMT-04:00 Ed Tewiah <notifications@github.com>:

--

Carlos Antonio Villalba Julio.-

[2017-06-15 14:15] etewiah commented on #24
If the contents table has no rows, it will get populated by the seed task.  If you really want to recreate the table, delete all rows and run the seed task - you should only do that if there is a good reason though.  Right now everything is fine so I would not do that.

[2017-06-15 14:15] #24 closed

[2017-06-18 14:10] webchi commented on #25
Yes. Bundle could not solve dependencies with rails 5.1.1 It seems pwb frozen to 5.0 version

[2017-06-18 18:47] etewiah commented on #25
Hi @webchi , you are right.  I probably shouldn't have that restriction in the gemspec.  I have loosened the restriction on the version of rails and pushed that update to the repository.

Let me know if that fixes it for you.

[2017-06-19 08:10] etewiah commented on #4
Hi @bluesky321, @beeyatch - are either of you going to actually help?  It's a bit disappointing to get offers of help which end in nothing :(

[2017-06-22 02:02] Jscott388 commented on #2
Where you guys at with this? I have access to RETS data. I have 520 fields that I have to deal with. They aren't clearly. Some just say LM_Char10_7 as the field, some have better names, but over all the field labeling is ugly. So once you get this data, I am like how do I want to save this, in my case I am using mongodb. From there I have to figure out how to keep this updated. This is no easy tas

[2017-06-22 09:53] etewiah commented on #2
Hey @Jscott388, I haven't had the chance to work on this in the last month.  I hope to be able to return to it in a couple of weeks though.  I am also thinking of making a standalone project out of this functionality.  That would make it easier for people to export to their own data stores like mongodb.

Yes, one of the tricky bits to this is getting all the field mappings right. Do you have any R

[2017-06-22 13:00] Jscott388 commented on #2
I figured it out. Use a mongoose schema and set the alias as the system name from the Rets data.

[2017-06-27 08:44] etewiah commented on #25
I believe this issue is resolved so I'll go ahead and close it.

[2017-06-27 08:44] #25 closed

[2017-07-01 17:01] etewiah commented on #13
I've finally had some time to look at this.  In the end I decided the functionality for scraping real estate data should be in a standalone project.  For this reason I have started this project:

https://github.com/RealEstateWebTools/property_web_scraper

Right now it is quite a barebones project but over the coming weeks I will add support for more websites and improve the UI

[2017-07-24 23:43] aelmassry214 opened #28 "GemRequireError: There was an error while trying to load the gem 'pwb'."
I get this error

`rails aborted!
Bundler::GemRequireError: There was an error while trying to load the gem 'pwb'.
Gem Load Error is: undefined method `before_filter' for ActionController::Base:Class
Did you mean?  before_action
Backtrace for gem load error is:
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/paloma-5.0.1/lib/paloma/action_controller_extension.rb:14:in `block in included'
C:/Ruby23-x64/lib/

[2017-07-25 12:46] etewiah commented on #28
I think it's to do with this issue

https://github.com/gnclmorais/paloma/pull/1

I'll fix it shortly.

[2017-07-25 15:16] etewiah commented on #28
Okay, so there is now a workaround.  I am using a version of the paloma gem which has been fixed.  Because it is not the official version, you will need to add it to your gemfile like so:

[code]
Hope that works.  Please let me know how it goes and what your experience with PropertyWebBuilder is.  Any feedback is always appreciated.

[2017-07-25 16:39] aelmassry214 commented on #28
Thanks Ed, I will this work around and let you know.

[2017-07-25 18:08] aelmassry214 commented on #28
okay, that workaround worked well.

However, when executing:

`rails db:migrate`

I get the following error at some point:

`
rails aborted!
StandardError: An error has occurred, this and all later migrations canceled:

Directly inheriting from ActiveRecord::Migration is not supported. Please specify the Rails release the migration was written for:

  class CreateCms < ActiveRecord::Migration[4.2]

[2017-07-25 18:38] etewiah commented on #28
Mmm, that's strange.  I'll have a look into it now.

[2017-07-25 19:12] etewiah commented on #28
Yeah, it looks like from rails 5.1.0 on this has become an issue.  I was using rails 5.0.4.  Can you drop and recreate the db?  That should work.

[2017-07-25 19:32] etewiah commented on #28
I'm just going through rails 5.1.0 now and its seems there might be some other issues.  Just looking at that now.

[2017-07-25 19:39] aelmassry214 commented on #28
ok, and I will try to recreate the db again.

[2017-07-25 19:56] aelmassry214 commented on #28
well it seems that I had some command with wrong syntax, it should be "=" rather than ":",

it should be:
`rails db:migrate VERSION=20170725174255`

not

`rails db:migrate VERSION:20170725174255`

no errors occurred when executed the command with '=' and with version [5.0] specified. I will recreate the application again with all the changes and let you know.

[2017-07-25 20:06] etewiah commented on #28
Okay, glad to hear.  There was also a minor problem with seeding the database which I have now fixed.  You can update the gem used in your project by running:

[code]

[2017-07-25 21:32] aelmassry214 commented on #28
I updated the gem and when I executed

`rails pwb:db:seed`

I get this error:

ActiveRecord::RecordInvalid: Validation failed: Section must exist
bin/rails:4:in `require'
bin/rails:4:in `<main>'
Tasks: TOP => pwb:db:seed
(See full trace by running task with --trace)

so, I went ahead and started the server, and went to localhost:3000 the following error occured:

Couldn't find Pwb::Agency with 'id

[2017-07-26 08:33] etewiah commented on #28
Okay, it looks like there are a few more issues with rails 5.1.0.  I'll create a branch to fix those but as I'm busy with some other projects it will not be ready this week.
Please try with rails 5.0.4 as I know that works.  ( I will update the readme too ).

[2017-07-26 11:29] aelmassry214 commented on #28
Thanks Ed, I will await the new branch

[2017-07-26 11:53] etewiah commented on #28
I think its better you go ahead with rails 5.0.4.  It is a supported current release ( released about the same time as 5.1.2:  https://rubygems.org/gems/rails/versions ) and everything works okay.
Right now its hard to say when I can finish work on the other branch.

[2017-07-29 17:53] amerov opened #29 "rake pwb:db:seed error"
[code]

[2017-07-29 19:20] amerov commented on #29
Sorry. I did't see rails versions support.

[2017-07-29 19:29] etewiah commented on #29
Hi there, I was just about to let you know this.  It seems to only happen with rails 5.1.0.  You are the second person this week who has tried reported this so I will try to fix it.  It is just that I have a dependency on https://github.com/etewiah/comfortable-mexican-sofa which does not yet support 5.1.0 but I will create a fork of that and see if that will work.

[2017-07-29 21:13] amerov opened #30 "How I can modify front-end for admin panel?"
My customer give me task:
"Add admin users management and modify props list"
I need modify sidebar, etc. But I find only minimized js-app.

[2017-07-30 07:55] etewiah commented on #30
Hi @amerov, send me an email ( ed@propertywebbuilder.com ) and let's discuss it.

[2017-07-31 09:35] etewiah commented on #29
The master branch should support Rails 5.1.0 now.

[2017-07-31 09:35] etewiah commented on #28
The master branch should support Rails 5.1.0 now.

[2017-07-31 12:23] aelmassry214 commented on #28
Thanks Ed,
I tried the application with older version and now I tried with the new branch.

everything, worked great without errors now on Rails 5.1.0.

However, when I started the server and went to localhost:3000 the following error appeared:

    Cannot find CMS Site with identifier: localhost//
    Extracted source (around line #49):
    if (page_path = options.delete(:cms_page)) || (layout_id

[2017-07-31 19:29] etewiah commented on #28
Hi @aelmassry214 , I suspect you are on the cms-pages branch.  Please switch to the master branch and try again.

[2017-07-31 21:30] linuxweeva opened #31 "ActionView::MissingTemplate"
ActionView::MissingTemplate (Missing template C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/bundler/gems/property_web_builder-9cc4baee61bb/app/themes/default/views/layouts/pwb/application with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:raw, :erb, :html, :builder, :ruby, :coffee, :haml, :jbuilder]}.
Why ?

[2017-08-01 09:51] etewiah commented on #31
Please provide some more information on what you did if you want me to help you.

[2017-08-01 10:31] linuxweeva commented on #31
I installed pwb on an existing project like in the instructions

gem 'pwb', git: 'https://github.com/etewiah/property_web_builder', branch: 'master'
gem 'globalize', git: 'https://github.com/globalize/globalize'
gem 'paloma', github: 'fredngo/paloma'
bundle
mount Pwb::Engine => '/'
rails pwb:install:migrations
rails db:create
rails db:migrate
rails pwb:db:seed
.....

1 error.rails pwb:db:seed comm

[2017-08-01 10:39] linuxweeva commented on #31
C:\Users\admin\Desktop\RUBY\v5>rails pwb:db:seed --trace
** Invoke pwb:db:seed (first_time)
** Invoke environment (first_time)
** Execute environment
** Execute pwb:db:seed
rails aborted!
TypeError: can't cast Hash
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/activerecord-5.0.5/lib/active_record/connection_adapters/abstract/quoting.rb:41:in `rescue in type_cast'
C:/RailsInstaller/Ruby2.2.0

[2017-08-01 20:58] etewiah commented on #31
You are using sqlite.  The documentation states that you need to use Postgres.

[2017-08-01 20:59] #30 closed

[2017-08-02 02:11] linuxweeva commented on #31
rails server -p 80
=> Booting Puma
=> Rails 5.0.5 application starting in development on http://localhost:80
=> Run `rails server -h` for more startup options
*** SIGUSR2 not implemented, signal based restart unavailable!
*** SIGUSR1 not implemented, signal based restart unavailable!
*** SIGHUP not implemented, signal based logs reopening unavailable!
Puma starting in single mode...
* Version 3.9.

[2017-08-02 02:12] linuxweeva commented on #31
now I'm using postgres
still that error

[2017-08-03 09:23] etewiah commented on #31
Have a look in the path where it says it cannot find the file.

It is clearly in the source here:
https://github.com/etewiah/property_web_builder/blob/master/app/themes/default/views/layouts/pwb/application.html.erb

Your error message is saying it cannot find it:

ActionView::MissingTemplate (Missing template C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/bundler/gems/property_web_builder-9cc4ba

[2017-08-03 12:53] linuxweeva commented on #31
No
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/bundler/gems/property_web_builder-9cc4baee61bb/app/themes/default/views/layouts/pwb/application.html.erb
I have this file
but it doesnt understand that the file is there
maybe the problem is because I am using windows ?
Will linux solve all the problems?

[2017-08-03 15:15] etewiah commented on #31
It should be possible to run a Rails project on windows but I've never done it myself so I can't help much.
What exactly are you trying to achieve?  If you just want to run the project, the best way is to click on the "deploy to heroku" button.
If you want to modify the code you will need to have some experience of Ruby on Rails.  This will not be a good project if you are new to Ruby on Rails.

[2017-08-03 16:01] linuxweeva commented on #31
I am not new to ruby
This is just the first time that ruby gives error on windows.
Whatever I will try to install this on linux

[2017-08-03 16:03] linuxweeva commented on #31
what os are you using?
better debian or ubuntu?

[2017-08-03 17:54] etewiah commented on #31
I run osx.  Not sure if debian or ubuntu is better.

[2017-08-04 01:54] rdosramos commented on #31
Hi etewiah,

I used your instructions to setup de app. Works like a charm! The example page has many of the functions that I need, actually more than I need. Now there is my problem: how exactly can I customize the web app? the models, controller, views, etc are all inside the gem, and I'm lost as how to put them in the app's folder

[2017-08-04 09:07] etewiah commented on #31
Hi @rdosramos , glad you got it working.

This guide to Rails engines explains how you can override the functionality in an engine:

http://guides.rubyonrails.org/engines.html

[2017-08-04 09:07] #31 closed

[2017-08-08 08:59] anhpham2710 commented on #4
please make locale file for Vietnamese!

[2017-08-08 10:21] etewiah commented on #4
Hi @anhpham2710 , I will create the locale files but please don't disappoint me like @bluesky321 and @beeyatch did.

[2017-08-08 10:24] anhpham2710 commented on #4
no man, I will try all my best

[2017-08-08 11:45] etewiah commented on #4
Hi @anhpham2710, I have just added the locale file for Vietnamese:

https://github.com/etewiah/property_web_builder/blob/master/config/locales/vi.yml

Right now it contains translations from google.  Please correct them and send me a pull request when you are ready.

Thanks

[2017-08-08 14:38] anhpham2710 commented on #4
Pull request is sent, please merge ;)

[2017-08-08 14:53] etewiah commented on #4
That's great - much quicker than I expected ;)
I've just merged it.  I will update the deploy on heroku so you can see what it looks like.
Oh, and don't forget to star the repo if you like it ;)

[2017-08-08 15:09] etewiah commented on #4
Okay, so I've just deployed with your changes to heroku:

https://propertywebbuilder.herokuapp.com/vi

Right now you cannot set Vietnamese as a supported language in the admin section.  I will enable that tomorrow and push it out.

[2017-08-08 15:12] anhpham2710 commented on #4
look cool, so fast and furious too ;)

[2017-08-08 15:28] etewiah commented on #4
Thanks - there are some nice new features in the pipeline too.  Drop me an email (ed at propertywebbuilder.com) and let's have a chat tomorrow.

[2017-08-09 09:32] etewiah commented on #28
Hi @aelmassry214 , can you please confirm that everything is working okay now.

[2017-08-11 11:27] mmikeww commented on #3
Looks like that template is offline

Archive page here, but download link doesn't work:

https://web.archive.org/web/20161119032944/http://www.markups.io:80/items/home-property-free-real-estate-website-template/

[2017-08-11 21:41] etewiah commented on #3
Hi @mmikeww, I've actually implemented that theme.  I just need to test it and make sure it works well.  Are you willing to help with this?

[2017-08-11 22:45] mmikeww commented on #3
Sure, can you put it up on the demo site so I can click around?

[2017-08-11 22:54] etewiah commented on #3
It is the Berlin theme which you can set from here:

https://propertywebbuilder.herokuapp.com/en/admin/website/themes/default

I have just now set the demo site to the Berlin theme.

[2017-08-12 01:29] mmikeww commented on #3
It looked fine to me.. Was there something in particular you wanted me to test?

One thing I noticed, but not theme specific, is that it seems on your other re-renting.com site, on the buy/rent pages, there are extra fields to filter a search with. But on the pwb.herokuapp.com demo site, the search fields are more limited

[2017-08-12 11:20] etewiah commented on #3
Okay, its good everything works for you.  I did some small customisations for the re-renting site which I will put into the main project soon.

BTW, I'm doing a survey to try to understand what things to prioritise so would be good if you can give some feedback here:

https://goo.gl/forms/xQkvBKmE1p8PUhzn1

[2017-08-19 07:42] etewiah commented on #29
Can you please confirm that this works so I can close the issue.

[2017-08-19 07:42] etewiah commented on #28
@aelmassry214, as I have not heard back from you I will close the issue.

[2017-08-19 07:42] #28 closed

[2017-09-12 14:07] #29 closed

[2017-09-23 21:39] dborovsky opened #35 "After updating the gem pwb, undefined method `show_in_top_nav'"
I updated gem pwb. And is displaying error:

[code]

[2017-09-23 22:41] etewiah commented on #35
Thanks for opening this issue @dborovsky.  I suspect it is because you have not copied the new migrations across.
After updating the gem, please run the following to copy across and run the latest migrations:

[code]

Let me know if that works

[2017-09-24 11:16] etewiah opened #36 "Add contact management functionality"
At the request of @danielsousaio I'll be adding contact management functionality. I'll be interested in hearing any feedback or suggestions about how users would like this to work.

[2017-09-26 08:21] dborovsky commented on #36
Hi

I ran all tests with rspec and all get without errors.
If you need help with the development, let me know. I'm testing now for
more functionality. Now I think that we can add more from the new
functionality. In the evening I will update ru translation in some places.

On 24 September 2017 at 14:16, Ed Tewiah <notifications@github.com> wrote:

--

Best Regards,

Dmitriy Borowskiy

CTO/JS dev.

[2017-09-26 17:00] messyjessy opened #37 "Routing Error - Bad Gateway"
I need help with this, please.

Every time I set routes to:
mount Pwb::Engine => '/'
root to: 'welcome#index'

My app times out and I get a bad gateway error.

[2017-09-26 20:42] etewiah commented on #37
A bad gateway error suggests to me that you are not even getting to the PropertyWebBuilder engine.  You will have to give me more details if you want me to help.
How are you running your server?  What happens when you browse a normal route on your server? What is the full message you receive?  etc.

[2017-09-26 21:38] etewiah commented on #35
Hi @dborovsky, can you confirm that it is working now and I can close this issue?

[2017-09-26 21:42] dborovsky commented on #35
yes, I confirm.  thank you.

On 27 September 2017 at 00:38, Ed Tewiah <notifications@github.com> wrote:

--

Best Regards,

Dmitriy Borowskiy

CTO/JS dev.

Tel: +375291404873

d.borowskij@gmail.com <d.borowskij@gmail.com>

skype dborovsky

Bostil

office@bostil.ru

bostil.ru

[2017-09-26 22:49] #35 closed

[2017-09-27 13:08] messyjessy commented on #37
I'm running the app on Cloud9. All other routes seem to be working
properly. I'm not sure if I missed something during installation or what
happened. When I place "mount Pwb::Engine => '/' " at the top of my
route.rb file, I get this error message:

<html>

  <head>
    <meta charset='utf-8'>
    <title>Error 502 - Bad Gateway</title>
    <link rel="stylesheet" type="text/css"
href="https://cdn.c9

[2017-09-27 15:58] etewiah commented on #37
I don't know how cloud9 works but a 502 error is usually an issue with the server setup rather than the application.  If you look at the cloud 9 forums you will see a lot of issues about bad gateway errors:

https://community.c9.io/t/502-bad-gateway/17968

I suggest you ask for help there directly.  This does not seem to be an issue with PropertyWebBuilder.

[2017-10-12 09:33] etewiah commented on #22
Reviewing this issue today I realise I haven't explained what I aim to achieve very well.  The objective is to allow end users to only edit text strings yet display this in an impactful way.  This means templates will need to be created for each section of content which the user can edit.  The editing interface will only require the end user to edit simple text strings which then get merged into t

[2017-10-28 12:30] Zaldor commented on #4
Would love to help out for Italian localization, let me know.

[2017-10-28 13:06] Zaldor commented on #4
Just finished translating from EN to IT
here it is:
https://www.dropbox.com/s/1e6nbl6eb4xl96i/it.yml?dl=0

[2017-10-29 23:34] etewiah commented on #4
Mille grazie @Zaldor - much appreciated.  Just added it now ;)

There are also some editable strings for which I'd like to set the default values for each locale.  I have created a placeholder file for those values in Italian here:

https://github.com/etewiah/property_web_builder/blob/master/db/seeds/translations_it.rb

If you get a chance and can translate those, that would be great as well.  As

[2017-10-30 12:28] Zaldor commented on #4
I'll do it later today.

[2017-10-30 12:31] Zaldor commented on #4
Shouldn't the property types be in all in English?
It seams like it starts in English and it changes to Spanish, I can translate from English to Italian

[2017-10-30 16:09] etewiah commented on #4
Thanks @Zaldor, that will be great.  The keys for some items (like "propertyTypes.apartamento") are that way because I started off with a legacy system.  They are only used internally anyway so doesn't matter too much.

I used the Spanish translations as a placeholder for the Italian one as I figured they would be more similar.  If you prefer to start with the English translations you will find th

[2017-10-30 16:13] etewiah commented on #37
Hello @messyjessy - were you able to resolve this issue with cloud 9?

[2017-11-04 17:39] acmeraptor opened #38 "User error on seeding db"
Hello, I'm new to ruby on rails so forgive me if this is a newbie mistake.  I followed the guide here to install ruby on rails on my ubuntu server: https://gorails.com/setup/ubuntu/14.04

I then followed your guide on installing pwb.  When I get to the rails pwb:db:seed step I get the following (full traced) error: https://gist.github.com/acmeraptor/152000f7a0efd9bb5642b2df5fc48728

I have tried v

[2017-11-05 20:32] etewiah commented on #38
Hello there,
I don't think it is an issue with your postgres user.  It seems you have successfully created the database and run the migrations so your postgres connection details are probably okay.
First of all I'd suggest you check from the console that the migrations have run successfully.  To get to the console run:

`rails c`

From the console run this command and let me know the result:

`Pwb

[2017-11-06 02:34] acmeraptor commented on #38
jasonl@wyo-jol-uws01:~/jason$ rails c
Running via Spring preloader in process 1799
Loading development environment (Rails 5.1.4)
irb(main):001:0> Pwb::User.count
   (0.8ms)  SELECT COUNT(*) FROM "pwb_users"
=> 2
irb(main):002:0>

--

I didn't even know how to access the rails console until now..

[2017-11-06 09:08] etewiah commented on #38
Okay, so you really have got the db setup right.  Just to be sure there isn't some corrupt data in the db or something along those lines please run the ff to destroy and recreate the database:

`rails db:drop db:create db:migrate`

After that try seeding the db again:

`rails pwb:db:seed`

If you get the same error again we might have to do some debugging with:

https://github.com/deivid-rodriguez

[2017-11-06 13:51] acmeraptor commented on #38
Well, the same error occurred: (not the full trace this time)

rails pwb:db:seed
rails aborted!
ActiveRecord::RecordInvalid: Validation failed: User must exist
/home/jasonl/jason/bin/rails:9:in `require'
/home/jasonl/jason/bin/rails:9:in `<top (required)>'
/home/jasonl/jason/bin/spring:15:in `<top (required)>'
bin/rails:3:in `load'
bin/rails:3:in `<main>'
Tasks: TOP => pwb:db:seed
(See full trace

[2017-11-06 14:24] etewiah commented on #38
Very strange.  Can you go to the console again and try running this to see if it works:

` Pwb::Contact.create(primary_email: "bob_a@example.com")`

[2017-11-06 14:30] etewiah commented on #38
The contacts model is actually not crucial for the website right now so you could comment out the line for seeding it as a workaround.

Just open up this file in your text editor and comment out line 58:

/home/jasonl/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/bundler/gems/property_web_builder-b86b43186d0e/lib/pwb/seeder.rb

[2017-11-06 16:49] acmeraptor commented on #38
The contact creation appears to have worked. Ill comment the part you said out when I'm not working from a mobile phone.

https://gist.github.com/acmeraptor/ef9a0d2a4077322123db417f5198bf01

[2017-11-06 21:35] acmeraptor commented on #38
Ok, I commented out the following line:

      def seed_contacts yml_file
        contacts_yml = load_seed_yml yml_file
        contacts_yml.each do |contact_yml|
          unless Pwb::Contact.where(primary_email: contact_yml['email']).count > 0
#            Pwb::Contact.create!(contact_yml)
          end

Re-ran rails db:drop db:create db:migrate

Re-ran rails pwb:db:seed

Which now produces the

[2017-11-06 22:19] etewiah commented on #38
Okay, I've just done some more research into this.  It seems to be to do with not declaring a couple of belongs_to relationships as optional:

https://stackoverflow.com/questions/38983666/validation-failed-class-must-exist

I have just now pushed out a fix.  To update to the latest version, run this command:

`bundle update pwb`

Let me know if that works.

[2017-11-07 02:38] acmeraptor commented on #38
Now I have this: https://gist.github.com/acmeraptor/6929b2373271dc34c8581107cd46405a

[2017-11-07 04:21] acmeraptor commented on #38
I am not depending on these versions of ruby or rails, if there is a working set of prerequisites then I can easily switch to them.  My test server is just a virtual machine running on my laptop that I am using before I put anything on what I consider a production server.  I am only running the versions of things now because they were recommended by a different guide.

[2017-11-07 04:58] acmeraptor commented on #38
I kind of take my last statement back.  Despite the error, I now have a working test site.  I think you can mark this problem as resolved.  I have some other issues but I think they're not related to the one I originally posted about.

[2017-11-07 09:51] etewiah commented on #38
Hi @dcallao, can you please try with the latest master branch of PropertyWebBuilder and let me know how that goes?

If you have the latest version you will see this in your Gemfile.lock:

  remote: https://github.com/etewiah/property_web_builder
  revision: 96a24e93d3a1012593ec028bb0aee936eb63e37c

If you do get the error again, please copy it in full like acmeraptor did - it helps me troubleshoot

[2017-11-07 09:52] etewiah commented on #38
Good to hear @acmeraptor - any other problems just go ahead and open another issue and I'll help you resolve it.

[2017-11-07 14:08] acmeraptor commented on #38
I'll keep up with this thread since someone else is having the same issue.  The latest gist: https://gist.github.com/acmeraptor/27e549a6713e09405106e4e3a84e9e81

[2017-11-07 14:44] etewiah commented on #38
Sorry guys, I missed out on adding the "optional: true" statement in the belongs_to page relationship for the link model.
Just added that now.
Run "bundle update pwb" once more to update to the latest and try running the seed task again.

[2017-11-07 15:20] acmeraptor commented on #38
I'd say you've nailed it.  rails pwb:db:seed & rails pwb:db:seed_pages completed without errors.

https://gist.github.com/acmeraptor/d45bbb6cca9dafebeaea10d872739951

[2017-11-09 07:55] dcallao commented on #38
@etewiah yup! it works now! Thx.

[2017-11-09 08:50] etewiah commented on #38
Thanks for confirming @dcallao. I'll close this issue.

[2017-11-09 08:50] #38 closed

[2017-11-11 20:25] etewiah commented on #37
Hi @messyjessy, as you are not replying to me I will go ahead and close this issue.  Let me know if I can help with anything else.

[2017-11-11 20:25] #37 closed

[2017-11-11 20:58] etewiah commented on #36
I've started work on this by creating this API endpoint:

https://propertywebbuilder.herokuapp.com/api/v1/contacts

Which is used by the admin panel here:

https://propertywebbuilder.herokuapp.com/en/admin/contacts

I am yet to build the relationships between contacts and properties.  Will work on that next.

[2017-11-15 12:32] acsmartinho commented on #3
hi etewiah.
I´m new on this stuff so i´m wander how can i install the PWB.
thanks

[2017-11-15 12:52] etewiah commented on #3
Hi @acsmartinho, can you please let me know what part of the instructions in the readme you do not understand?

[2017-11-15 16:10] acsmartinho commented on #3
Hi again

I’m really new on this stuff.
Can the PWB be installed in the ftp?

[2017-11-15 18:37] etewiah commented on #3
Ruby on Rails cannot be installed with ftp.  If you are not familiar with installing ruby on rails then use heroku.
In the readme there is a big purple button with the text "deploy to heroku" - just click it and follow the instructions.
If you encounter any problems please open a new issue.  This issue is specifically about adding extra templates.

[2017-11-16 14:41] acsmartinho commented on #3
Ok i saw that button but in the heroku you can use your own domain? in the example i just saw something like domain.heroku.com

[2017-11-16 17:55] etewiah opened #39 "Is it possible to use my own domain with PropertyWebBuilder on heroku?"
Asking this on behalf of @acsmartinho.

[2017-11-16 17:57] etewiah commented on #3
Hi @acsmartinho , I realise you're new to github so this is some friendly advice.  When you have a question please open a new issue.  This issue is about themes so everyone who is participating will get notifications when you mention something.  It is not nice for them to get notifications when you are asking about something not related to themes.

It is very easy to open issues.  Here is an issue

[2017-11-16 17:59] etewiah commented on #39
@acsmartinho, it is possible to use your own domain with heroku.  You can find the instructions here:

https://devcenter.heroku.com/articles/custom-domains

[2017-11-20 23:01] anoopkanyan commented on #39
It is possible to use your custom domain to point to the application on Heroku. I did it today itself. [homeclickaway](http://www.homeclickaway.com/l)

[2017-11-20 23:05] anoopkanyan commented on #36
I am also looking for the same solution, where we can establish a relationship between properties and their owners i.e. contacts. When are you planning to roll it out?

[2017-11-21 11:17] etewiah commented on #36
Hi @anoopkanyan, right now I am super busy so I don't think I'll be able to finish it before mid-december.  It is quite easy to do though so if you have a bit of time why not try implementing it ;)

[2017-11-21 11:20] etewiah commented on #39
Nice @anoopkanyan - keep me updated on how it goes (ed at propertywebbuilder.com).  Right now I am not keeping track of who is using PWB but I would like to do so in future.

[2017-11-26 19:56] iamwalker opened #40 "Readme to include running app on it's own"
Currently, the readme only specifies how to add pwb to an already existing rails app but I was wondering if there are plans to add to the readme instructions how to run the pwb repo on it’s own?

[2017-11-28 22:18] etewiah commented on #40
Hi @iamwalker, thanks for the suggestion.  I have just updated the readme with this info.

[2017-12-03 16:29] Zaldor opened #42 "Currencies"
Could it be possible to convert automatically currency based on user language choice?

[2017-12-03 16:34] etewiah commented on #42
Funny you should ask.  Someone is working with me to learn more about Rails through this project.  Right now she is looking at an instant currency converter.  It won't be based on language choice.  Rather there will be a dropdown allowing users to select a currency.

[2017-12-03 16:47] Zaldor opened #43 "CSV Import"
I have scraped my old website to retrieve all properties listed in a clean CSV
I have then adapted the CSV to PWB fields, and tired to use the import from PWB CSV but without success.

My first proposal is to allow "General CSV" import and ask to match fields found in admin uploaded CSV to PWB Required Fields it would be just a simple (but very powerfull in my opinion) list of labels with dropdown

[2017-12-03 17:23] etewiah commented on #43
I've been thinking a lot recently about the different options for importing existing sites.   The csv import was something I hacked together a while back but it is not being used very much and I don't think I'll be making many changes to it soon ( if more people ask or someone can help then I will)

What I want to spend more time on is to make it easier to import directly from existing websites.

[2017-12-03 17:49] Zaldor commented on #43
http://carusoimmobiliare.it/

[2017-12-03 18:10] Zaldor opened #44 "Can't Add Description"
Site installed and updated, configured to use italian languange, but when trying to add a property adding TITLE and Description to it doesn't seam to work (it does for english)
https://carusoimmobiliare.herokuapp.com/it/properties/for-sale/51/show
Default admin USR:PWD

[2017-12-03 18:37] etewiah commented on #44
Looks like it is a bug specific to Italian - let me just have a look now.

[2017-12-03 18:38] etewiah commented on #43
That should be quite easy to scrape - I will have a look later

[2017-12-03 18:59] etewiah commented on #44
Okay, I see what the problem is.  I will push out a fix as soon as I can.

[2017-12-03 19:46] Zaldor commented on #44
Thanks!

Il dom 3 dic 2017, 19:59 Ed Tewiah <notifications@github.com> ha scritto:

[2017-12-03 19:54] etewiah commented on #43
Actually, that site does not have much info about a property and it is not so easy to scrape.  Do you maybe have listings on idealista.it or some other website that might be easier to scrape?

[2017-12-04 15:17] etewiah commented on #44
Hi @Zaldor - I've pushed out a fix.  Please update to the latest build and let me know if it works.

[2017-12-04 15:47] etewiah commented on #43
Hi @Zaldor,  the latest build should allow you to import properties from your website.

Try it out here:
https://pwbimporter.herokuapp.com/en/admin/io/properties/from_webpage

Enter this url and try importing it:
http://www.carusoimmobiliare.it/immobiliare/frame.php?page=dettaglio_annuncio&_cod_annuncio=100038

It is still a proof of concept but I will try to polish it up soon.

[2017-12-04 15:59] #39 closed

[2017-12-04 15:59] #40 closed

[2017-12-04 16:42] Zaldor commented on #43
Return a error...
![schermata 2017-12-04 alle 17 40 47](https://user-images.githubusercontent.com/4072338/33564273-70b1d936-d91a-11e7-9e7a-6821c2ea8dc0.png)

would anyway be a ONE by ONE process?

[2017-12-04 16:52] Zaldor commented on #44
Seams to works. great!

[2017-12-04 17:11] etewiah commented on #43
mmm, not quite sure what the problem is there.  Yes, it would be a one by one process at the moment.  To be honest, right now for your use case you might as well just add the entries manually.

When I get the time I will improve on it with better error handling and the ability to retrieve multiple properties at once.  That isn't likely to be in the next few weeks though.

[2017-12-04 17:11] etewiah commented on #44
Cool, I'll go ahead and close this issue then.

[2017-12-04 17:11] #44 closed

[2017-12-04 22:18] Zaldor commented on #43
Don't worry, if only it could be clear how the pwb CSV Import expect the
data, anyone could write his own scraper and export it the way it pwb
requires it.
I suggest to standardize one flat file csv Import, it would be more much
maintainable and still keeping openness without too much hassles

Il lun 4 dic 2017, 18:11 Ed Tewiah <notifications@github.com> ha scritto:

[2017-12-05 11:49] etewiah commented on #43
Fair point, I will do that when I get the chance.

[2017-12-05 18:57] acmeraptor commented on #43
I received the same error importing from a web page.  Ill make a gist of it before eod today.  But as far as I can tell its our rails setup, not a pwb error.  The log file reports something to the effect
of a remote server not being allowed to open a console.  Only the localhost is defined in the messages I saw.

[2017-12-06 08:38] Zaldor commented on #43
I have no clue about rail setup as I only clicked deploy to heroku on the
pwb to heroku readme page on github, but if you want me to check anything
on the heroku account let me know.

Il mar 5 dic 2017, 19:57 acmeraptor <notifications@github.com> ha scritto:

[2017-12-06 14:12] acmeraptor commented on #43
I sent Ed my error log yesterday, lets wait for his opinion.  :)

[2017-12-06 18:19] etewiah commented on #43
Hi guys, sorry for the delay in replying.

I've implemented the functionality for retrieving info from external websites in a gem which needs to be imported and mounted.  I haven't had the time to document it properly but if you are creating a new website from the heroku project it will just work.

If are updating a website you created on heroku using my heroku project then you first need to updat

[2017-12-09 10:27] Zaldor commented on #43
I think in my case i should do the update, which I guess is as before:
1) MY git fork > Pull Request > Merge
2) Heroku Dash > Deploy > Update from git

But I don't see any difference from my PWB-for-heroku to etewiah/pwb-for-heroku
 Am I missing something?

[2017-12-09 12:29] etewiah commented on #43
It looks like you've updated your application successfully.  You now need to run the 2 commands I mention.

You can do this by clicking the "more" button on the heroku dashboard (it is in the top righthand corner) and select "Run console". In the form that appears enter "rails db:migrate" and hit run.
Do the same again for the "rails app:property_web_scraper:db:seed".

BTW, I am aiming to improve

[2017-12-10 04:38] sairaman opened #45 "Cannot login to my propertyweb builder app on heroku. I don't have admin credentials help me out on this."
cannot login with default heroku login credentials and i didn't receive any email from property web builder when i deployed the app. Please help me find the user name and password to login to  admin panel on real99.herokuapp.com

[2017-12-10 09:34] etewiah commented on #45
Hello @sairaman , the default credentials documented in the readme work.

User admin@example.com with a password of "pwb123456"

[2017-12-12 12:03] etewiah commented on #45
Hi @sairaman, can you please confirm that you have been able to access your site?

[2017-12-12 12:17] etewiah commented on #4
Hi @Zaldor, did you get the chance to look at the translations here:

https://github.com/etewiah/property_web_builder/blob/master/db/seeds/translations_it.rb

[2017-12-12 17:40] sairaman commented on #45
Hello Ed Tewaiah!! thanks for your valuable support, i am sorry that i was
lazy to try the user name as mentioned in Readme file. This was a wonderful
cms, and i love using it. Thanks again for giving us this great
application.

On Tue, Dec 12, 2017 at 5:33 PM, Ed Tewiah <notifications@github.com> wrote:

[2017-12-12 18:09] etewiah commented on #45
Glad you like it ;)  Any questions / feedback just let me know.

[2017-12-12 18:09] #45 closed

[2017-12-12 18:45] Zaldor commented on #4
I Ed, yes I actually did, and I wanted to ask you if it could be possible
to use any more "automated" method like with PO files, Transifex is very
nice.
But after i was cought by busy life and totally forgot to ask, sorry.
I will look again at it and translate it.
On Tue, 12 Dec 2017 at 13:17 Ed Tewiah <notifications@github.com> wrote:

[2017-12-13 09:38] etewiah commented on #4
Thanks @Zaldor, send me the translations when you have them ready.

I have looked at automated methods but for this project it is not worthwhile.  There are not so many translations and each automated method has a downside.  In the case of Transifex it is quite expensive and so far I have not made any money from this project so I cannot spend money on a service like that :(

[2017-12-15 06:32] sairaman commented on #45
Sure Tewaiah, we will let you know :)

On 12 Dec 2017 11:39 p.m., "Ed Tewiah" <notifications@github.com> wrote:

[2017-12-20 14:53] itgroupservices111 opened #47 "views render error"
Missing template C:/RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-8904e7bd8ce3/app/themes/default/views/layouts/pwb/application with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:raw, :erb, :html, :builder, :ruby, :coffee, :jbuilder]}. Searched in: * "C:/Users/zafar/Documents/GitHub/pwb-for-heroku/app/themes/default/views" * "C:/RailsInstaller/Rub

[2017-12-20 15:54] etewiah commented on #47
Please provide some details of what you did and at what point you got this error.

[2018-01-04 13:52] itgroupservices111 commented on #47
git clone https://github.com/etewiah/pwb-for-heroku.git
cd pwb-for-heroku
rails db:create
rails db:migrate
rails pwb:db:seed
rails pwb:db:seed_pages
rail server

[2018-01-04 20:20] marquicus opened #48 "Throws error when going to send contact email"
Thrown error:

Lo sentimos, ha ocurrido un error.
×
undefined method `client=' for #<Pwb::Message:0x00007fdf00211128> Did you mean? client_id=

Environments: development, production

[2018-01-05 00:03] marquicus commented on #48
The fix I found in file ./app/mailers/pwb/enquiry_mailer.rb

-      @enquiry.client = @client
+      @enquiry.client_id = @client
       @enquiry.save

Have you considered to use reCAPTCHA?

[2018-01-05 11:09] etewiah commented on #48
Hi @marquicus, good catch - thanks for pointing that out.  I will fix it as soon as I get the chance (and expand my tests so it doesn't happen again ;)
Regarding reCAPTCHA, it is on my todo list but I haven't got round to doing it yet.  If it is important for you, just let me know and I will prioritise it.
Also, many thanks for supporting me on opencollective.  As the first person to do so I reall

[2018-01-05 12:31] etewiah commented on #47
I suspect you might not have cloned and installed the project successfully.   Try running:

`bundle install`

If that does not fix it then delete the directory and start again.  I have tested myself today and I know it works.

[2018-01-06 05:43] marquicus commented on #48
Hi Ed, thank you so much for feedback.
I'm very interested in this project and I would like to do a better contribution to the project with workforce for testging or develpment or other ideas, I'll send you my suggestions to your contact email.

Regards
Marco

[2018-01-10 23:43] etewiah commented on #48
This issue has now been fixed and tests added to catch any future errors.

(Marco, I received your email and have replied.)

[2018-01-10 23:43] #48 closed

[2018-01-11 00:07] marquicus commented on #48
Hi @etewiah , thank you
I found same issue for props_controller.rb, but this is the fix, do you want me to reopen the issue or this notification is sufficient

--- a/app/controllers/pwb/props_controller.rb
+++ b/app/controllers/pwb/props_controller.rb
@@ -91,7 +91,7 @@ module Pwb

-      @enquiry.client = @client
+      @enquiry.client_id = @client
       @enquiry.save

I'm working in the environm

[2018-01-11 11:26] etewiah commented on #48
Hi @marquicus , it is fixed there too.  The problem was that the client model has now been replaced by the contact model.  This is in preparation for adding contact management functionality (https://github.com/etewiah/property_web_builder/issues/36)

If you look at line 94 here you will see that I now assign a contact instead of a client:
https://github.com/etewiah/property_web_builder/blob/master

[2018-01-12 06:21] etewiah commented on #4
I realise now that it is not very obvious which files need to be created in order to add support for a new language so I put together this guide:

https://github.com/etewiah/property_web_builder/wiki/Adding-translations-for-a-new-language

[2018-01-12 08:48] Zaldor commented on #4
Great work! Definitely much more clear now!

Il ven 12 gen 2018, 07:21 Ed Tewiah <notifications@github.com> ha scritto:

[2018-01-14 16:08] etewiah opened #49 "Move admin panel from ember js to vue js with vuetify"
Currently the admin panel is built with ember js:

https://github.com/etewiah/property_web_builder_admin

I am not so happy with it and would like to migrate to vue js with [vuetify](https://vuetifyjs.com).  If anyone can help with this I will be very grateful.

[2018-01-17 13:42] lukeMersh opened #51 "Issue ID 3d04e25b-9b0b-48e6-b9a6-62fa81734f59"
Hi there.
After giving my card details to Heroku to deploy the app i got the following error:

 Create app

App creation failed. Please ensure you have valid values in the above form fields.
Configure environment

There was an issue setting up your app environment.

    The account "lukemersh5@gmail.com" is not permitted to install the sendgrid add-on at this time. If you believe this is an error

[2018-01-17 19:12] lukeMersh opened #52 "I would like to know how to remove navigation tabs"
Thank you Ed for your help.

I have been trying to remove some navigation tabs from the navigation through the admin panel, but when i do they reappear.
please help.

[2018-01-17 19:52] etewiah commented on #52
I'll have to have a look tomorrow.  I'm pretty sure it works in the demo site.  Perhaps you can try refreshing the page where you can edit the navigation and try again.

[2018-01-18 10:57] lukeMersh commented on #52
Good morning Ed,
Sorry to bother you but i would like to ask you about the program.- if you
wouldnt mind helping me with these questions once i get up and running i
will make a donation.

   - please could you tell me if it is created with Ruby or Ruby on rails?
   - If i wanted to change the frontpage look is this possible?
   - am i able to add functions to the admin page?
   - i would like to c

[2018-01-18 13:16] #51 closed

[2018-01-18 14:46] etewiah commented on #52
Hi Luke, I'll send you an email regarding your questions

[2018-01-18 14:51] lukeMersh commented on #52
Many thanks ED.
I really like the software and would like to learn how to add additional
functions, etc.
So I assume I would need to learn Ruby and Ruby on rails too.

On 18 January 2018 at 14:46, Ed Tewiah <notifications@github.com> wrote:

--
*LUKE MERSH*
*Tel# 07732759710*

[2018-01-18 18:23] lukeMersh opened #53 "How to edit the html - sign up form"
Greetings.
I am wanting to edit the html so i can add things in the footer and other areas.
is this possible?

[2018-01-18 18:32] lukeMersh opened #54 "currency"
When changing the currency in the admin, it doesnt offer to save and doesnt  change.
please help.

[2018-01-19 14:41] etewiah commented on #54
Hello @lukeMersh, the more details you provide the better I can help.  You might want to read up on this guide to creating issues:

https://github.com/etewiah/property_web_builder/wiki/Guide-to-creating-issues

[2018-01-19 16:11] lukeMersh commented on #54
HI Ed thanks for that 😀
could you tell me how i can edit the html of the site as i would like to
add some other functions to the site.
kind regards.

On 19 January 2018 at 14:41, Ed Tewiah <notifications@github.com> wrote:

--
*LUKE MERSH*
*Tel# 07732759710*

[2018-01-19 17:07] lukeMersh commented on #53
Hi there , Now i have found the corresponding files for the footer and I want to add some thing to the footer,
once i have added the code - how do i upload the new code to view the result?
many thanks.

[2018-01-22 08:47] lukeMersh opened #55 "Push to heroku failed"
Dear friends I forked and cloned the master copy to my laptop, I then edited the footer by adding a mailchimp subscription form to the footer and saved it.
Once i had saved it i went into Heroku to (upload) upstreamed the new version .
I went into github on heroku  and connected to github to deploy the new version.
I followed procedures but the push didnt work in the build.
I have pasted my build

[2018-01-22 10:07] etewiah commented on #55
A bit of googling shows this:

https://stackoverflow.com/questions/38339093/error-pushing-to-heroku-with-rails-sh-2-syntax-error-unterminated-quoted-st

Please follow the tips in the answers there to see if that helps.

BTW, this is what I meant when I mentioned earlier about pasting the error log into a gist:

https://gist.github.com/etewiah/e8ca77dbc401a0bcdd2962fce8333e66

[2018-01-22 10:08] lukeMersh commented on #55
Hi Ed,
many thanks,  will have a good read of this.
I am learning a lot as i go along.
I now understand how github(workflow) works and what I have to do.

many thanks again
Luke

On 22 January 2018 at 10:07, Ed Tewiah <notifications@github.com> wrote:

--
*LUKE MERSH*
*Tel# 07732759710*

[2018-01-22 10:14] etewiah commented on #55
BTW, you can get a lot of help while you are learning from the FreeCodeCamp:

https://gitter.im/FreeCodeCamp/FreeCodeCamp

Sign up for the gitter channel and you'll be able to ask the whole community for help in real time

[2018-01-22 12:09] lukeMersh commented on #55
Hi Ed,
I am trying to find out exactly what cost there would be to run the app
full time for a year.
I have emailed Heroku for details

regards
Luke

On 22 January 2018 at 10:14, Ed Tewiah <notifications@github.com> wrote:

--
*LUKE MERSH*
*Tel# 07732759710*

[2018-01-23 16:02] lukeMersh commented on #55
Hi Ed,
please help me.
please can you tell me if i am able to run the app on another server, apart
from Heroku.
I have space on several servers, as i dont know how much it would cost me
to run it on Heroku, as i do not understand all the terminology that they
list.

kind regards
Luke

On 22 January 2018 at 10:08, luke mersh <lukemersh5@gmail.com> wrote:

--
*LUKE MERSH*
*Tel# 07732759710*

[2018-01-23 21:33] etewiah commented on #55
You can but you will need a lot of knowledge.  Far easier to understand the terminology of heroku that all the details of deploying an app.

[2018-01-24 07:49] lukeMersh commented on #55
Hi there
My client believes that Heroku is going to be to expensive to run full time
and with a lot of traffic.

Luke Mersh
07732759710

On 23 Jan 2018 9:33 pm, "Ed Tewiah" <notifications@github.com> wrote:

You can but you will need a lot of knowledge. Far easier to understand the
terminology of heroku that all the details of deploying an app.

—
You are receiving this because you authored the th

[2018-01-24 09:54] etewiah commented on #55
okay

[2018-01-24 09:54] #55 closed

[2018-01-26 13:52] joevago commented on #49
Ed - I do my front end coding primarily using Vue and should be able to help.  Haven't used Vuetify yet (I see its out of BETA now) but generally speaking like the Material designs.  Email me on how I can bet get up to speed on your efforts.

[2018-01-26 14:29] etewiah commented on #49
Hi @joevago , that would be awesome indeed.  Not sure what email to reach you on but if you send me an email ( ed at propertywebbuilder.com ) we can take it from there.

[2018-01-28 14:27] itgroupservices111 opened #57 "Template is missing"
error Template is missing ????

Missing template C:/RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-e16817d6f369/app/themes/default/views/layouts/pwb/application with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:raw, :erb, :html, :builder, :ruby, :coffee, :jbuilder]}. Searched in: * "C:/Users/zafar/pwb-for-heroku/app/themes/default/views" * "C:/Rai

[2018-01-28 21:15] etewiah commented on #57
Congratulations - you have opened the most pointless and unhelpful issue I have come across.  If you cannot take 5 minutes to explain a bit about what you were doing when the error occured do not expect me to spend any time helping you.

[2018-01-28 21:15] #57 closed

[2018-01-28 21:15] #47 closed

[2018-01-29 02:21] xadves opened #58 "Pushing to Local Dokku"
Not very clear on local installation. Tried building from Ruby on Rails and wasn't very successful. Deployment to Dokku is favored, but when I deploy locally I get the "We're sorry, something went wrong". Suggested to view logs, but I cannot find them. Suggestions? This is a clean installation of Ubuntu Server 16 and Dokku.

[2018-01-29 09:14] etewiah commented on #58
Without the logs it is close to impossible for me to know what went wrong.

It would also help if you actually tell me the steps you took.  See:

https://github.com/etewiah/property_web_builder/wiki/Guide-to-creating-issues

[2018-01-30 17:59] xadves commented on #58
I looked in /var/logs for the logs and there was nothing there seemed to be from property web builder .I can upload similar event logs if that will help but I'm not sure that much will be relevant.

I did a very basic setup. I installed Ubuntu server 16.04.3to a VM with only the SSH option enabled, then immediately downloaded and installed Dokku exactly as the website says. Git cloned the director

[2018-02-01 08:40] etewiah commented on #58
Hi Sam, it is hard to communicate the frustration of having to deal with issues like this which I cannot possibly help with.  I've uploaded a short video response:

https://youtu.be/w2kEWGFEFOU

I hope seeing the video and realising there is a human being rather than a robot behind this project might motivate you to spend those extra few minutes actually telling me some useful information that can

[2018-02-03 04:32] calebyk opened #59 "I have tried to follow emberjs admin functions.. but i have trouble.."
// propertyResource: {},
    actions: {
    createPropertyResource: function() {
      var propertyResource = this.get("resourceObject");
      var self = this;

      function transitionToPost(propertyResource) {
        self.get('router').transitionTo('properties.editar',  propertyResource.id);
      }

      function failure(reason) {
        // handle the error
      }
        propertyResource

[2018-02-03 12:20] etewiah commented on #59
Hi @calebyk , I see you have opened the same issue in the PWB admin repo.  Let us follow it up on there.

[2018-02-03 12:20] #59 closed

[2018-02-03 14:18] calebyk commented on #59
Thank you!!

Sent from my iPhone

[2018-02-04 06:12] xadves commented on #58
I am very well aware you are a human, and not a robot. I want to work with you and contribute the best I can since your documentation does not include much about localized installations. That's why I asked questions seeking the relevant data, aka the location of your log files for this project and if you have ever used dokku which you did not reply with. So since you want to know what I've done, h

[2018-02-04 10:15] etewiah commented on #58
Hi @xadves, the extra information you've provided helps a lot.  I now know which instructions you followed and I was able to review them.  The first thing that seemed strange was that there was no mention of migrations in the instructions.
The logs are also super useful.   In there it is clear from this line that there has been an issue with the migrations:

`Table "pwb_websites" doesn't exist.  H

[2018-02-04 18:37] xadves commented on #58
[history.log](https://github.com/etewiah/property_web_builder/files/1693171/history.log)

I agree, I got worried I did the clone the wrong, but I checked the history and I did clone the correct repo.

[2018-02-04 20:40] etewiah commented on #58
Okay, so it seems dokku would have used the app.json file here to figure out that it needs to run a migration after deploy:

https://github.com/etewiah/pwb-for-heroku/blob/master/app.json

I know I accidentally made a commit with some errors a couple of weeks ago.  It seems this is likely what has caused the error you encountered.  Can you please try again with the most recent version of pwb-for-h

[2018-02-04 21:21] xadves commented on #58
Got the same error screen:
https://gist.github.com/xadves/7d36271e919cd42d923e9d6a4e970093

[2018-02-04 21:42] etewiah commented on #58
Can you provide a bit more of the error log?

You can see that in the previous log you gave me, lines 83-100 tell me what happened before the error stack:

https://gist.github.com/etewiah/b53b93cfedeedc44d49d624c664be60b

In the last log, that bit is missing.

[2018-02-08 09:52] SteveRedka opened #60 "Broken links in admin"
There are three broken links in [admin dashboard](https://propertywebbuilder.herokuapp.com/en/admin/dashboard)

* `Edit landing page`
* `Change 'About Us' text`
* `Change 'Legal' texts`

[2018-02-08 10:13] etewiah commented on #60
Well spotted @SteveRedka - I changed the way those items are handled and forgot to update the links.  Will update it as soon as I get the chance (as it isn't a high priority issue I probably won't get to it for a few days though)
Thanks for pointing it out.  Hope you find PWB useful

[2018-02-08 23:55] BritAlbritton commented on #47
I'm afraid I have the same error on Windows 7, running Ruby 2.4.3-1-x64, Rails 5.1.4, gem v. 2.75,  and PostgreSQL10.

I deleted and tried again, ran bundle install, etc. No dice.

Here's what shows up at http://localhost:3000/ :

Missing template D:/Ruby24-x64/lib/ruby/gems/2.4.0/bundler/gems/property_web_builder-468812b040a0/app/themes/default/views/layouts/pwb/application with {:locale=>[:en],

[2018-02-09 03:08] BritAlbritton commented on #57
Hi, Etewiah,

Your gem is beautiful, and I'd very much like to deploy it locally. As I wrote in another thread where a similar error was reported, this is happening to me as well on Windows 7 professional running Ruby24-x64 with Rails 5.1.4, gem 2.7.5, and PostgreSQL 10.2.

After following your steps:
git clone https://github.com/etewiah/pwb-for-heroku.git
cd pwb-for-heroku
rails db:create
rails d

[2018-02-09 03:23] BritAlbritton opened #61 "Missing template"
Hi, Etewiah,

Your gem is beautiful, and I'd very much like to deploy it locally to test it.

As I wrote in two closed threads where a similar error was reported, like others I'm getting an "Action Controller: Exception caught" error. My installation is on Windows 7 Professional, and I'm running Ruby24-x64 with Rails 5.1.4, gem 2.7.5, and PostgreSQL 10.2.

After following your steps:
git clone htt

[2018-02-09 03:31] BritAlbritton commented on #61
I've also run bundle config git.allow_insecure true to get rid of a notice. No luck.

[2018-02-09 10:46] etewiah commented on #57
Hi @BritAlbritton , thanks for providing the extra information - with that I can now investigate better.  As you have opened another ticket for this issue I will post my updated there:

https://github.com/etewiah/property_web_builder/issues/61

[2018-02-09 11:10] etewiah commented on #61
Hi @BritAlbritton, thanks for trying out PWB.  Can you let me know what files you have in this directory on your local machine?

D:/Ruby24-x64/lib/ruby/gems/2.4.0/bundler/gems/property_web_builder-468812b040a0/app/themes/default/views/layouts/pwb/

I suspect it is something to do with how the files are handled by Windows.  I use Osx and I don't have access to a Windows machine to try it out.  If t

[2018-02-09 11:11] etewiah commented on #47
Hi @BritAlbritton , I will follow up on this in the issue you opened here:

https://github.com/etewiah/property_web_builder/issues/61

[2018-02-09 17:22] BritAlbritton commented on #61
Thanks for getting back to me so quickly. Yes, I do have the file application.html.erb in that folder.

If it is a problem with with Ruby on Windows, this sort of thing must have happened before. Let me poke around StackExchange, etc.

[2018-02-09 17:29] BritAlbritton commented on #61
OK. Here are the notices I get when I run rails server:
=> Booting Puma
=> Rails 5.1.4 application starting in development
=> Run `rails server -h` for more startup options
  Please add the following to your Gemfile to avoid polling for changes:
    gem 'wdm', '>= 0.1.0' if Gem.win_platform?
  Please add the following to your Gemfile to avoid polling for changes:
    gem 'wdm', '>= 0.1.0' if Gem.w

[2018-02-09 17:33] BritAlbritton commented on #61
I tried gem install wdm, but I still get the first warning:
Please add the following to your Gemfile to avoid polling for changes:
gem 'wdm', '>= 0.1.0' if Gem.win_platform?

(It had no effect on what I see at localhost:3000)

[2018-02-09 17:37] BritAlbritton commented on #61
Here's what I get in the Ruby command prompt when I visit localhost:3000:

Started GET "/" for 127.0.0.1 at 2018-02-09 12:32:45 -0500
   (69.2ms)  SELECT "schema_migrations"."version" FROM "schema_migrations" ORDER
 BY "schema_migrations"."version" ASC
Processing by Pwb::WelcomeController#index as HTML
  Pwb::Agency Load (80.8ms)  SELECT  "pwb_agencies".* FROM "pwb_agencies" WHERE
"pwb_agencies"."

[2018-02-09 17:41] BritAlbritton commented on #61
Note that to get the rails db:create and rails db:migrate to work, I added a superuser username and password to the default: &default section of pwb-for-heroku/config/database.yml

[2018-02-09 18:18] etewiah commented on #61
Very strange.  I can do a very quick skype now if you want (but will have to be in the next 5 minutes or so)

[2018-02-09 18:28] BritAlbritton commented on #61
Thanks for offering, but now's not a good time. But if you have suggestions for where I might start, I'm happy to do some legwork.

[2018-02-09 18:29] etewiah commented on #61
If you want to troubleshoot by yourself I would suggest editing this file
D:/Ruby24-x64/lib/ruby/gems/2.4.0/bundler/gems/property_web_builder-468812b040a0
/app/controllers/pwb/welcome_controller.rb

For example you could add " , render layout: false " to the end of line 22 there to see what happens.

You can also try setting a breakpoint in the set_theme_path function of the application_controller

[2018-02-09 18:30] etewiah commented on #61
I have to go shortly but I will check here again in a few hours to see if you have any further questions.

[2018-02-09 18:30] BritAlbritton commented on #61
Thanks. Is there a similar but simpler project to yours I might try installing as another way to narrow things down? Something with the same dependencies but much less going on?

[2018-02-09 18:32] etewiah commented on #61
Can't think of something off the top of my head.  The issue is almost certainly related to the set_theme_path function in the application controller so if you poke about there a bit I'm pretty sure you'll figure it out.

[2018-02-09 18:33] etewiah commented on #61
BTW, when you browse to "/admin" that works right?

[2018-02-09 18:37] BritAlbritton commented on #61
I'm afraid not
http://localhost:3000/admin
takes me to
http://localhost:3000/en/users/sign_in

which shows the same:
Missing template D:/Ruby24-x64/lib/ruby/gems/2.4.0/bundler/gems/property_web_builder-468812b040a0/app/themes/default/views/layouts/pwb/application with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:raw, :erb, :html, :builder, :ruby, :coffee, :jbuilder]}. Searched i

[2018-02-19 10:38] #53 closed

[2018-02-19 10:41] #54 closed

[2018-02-19 10:44] #52 closed

[2018-02-19 15:32] etewiah commented on #49
Created a repo for the new admin panel using Vue and Vuetify here:

https://github.com/etewiah/pwb-admin-vuetify

[2018-02-20 14:04] SteveRedka opened #64 "Changing logo through admin works only once"
If you use interface to change logo, it uploads an image - but keeps using the first uploaded logo.

[![2018-02-20-170228_1366x768_scrot.png](https://s14.postimg.org/eik0v8q7l/2018-02-20-170228_1366x768_scrot.png)](https://postimg.org/image/vvuba3lil/)

[2018-02-20 18:47] etewiah commented on #64
Hi @SteveRedka, you are right.  I came across this issue a few days ago and I implemented the following workaround:

https://github.com/etewiah/property_web_builder/commit/725b307f4056c21210bee49b77e61d0e9758bb63

Update to the latest version and it should work.
I will review the way I've implemented photo updates when I get the chance.

[2018-02-20 22:35] etewiah commented on #60
Admin dashboard links fixed

[2018-02-20 22:35] #60 closed

[2018-02-25 12:08] vvalchev opened #69 "Importing/exporting photos."
I'm researching how to easily migrate existing agency properties to Property Web Builder.
Unfortunately the CSV file format doesn't support photos.

I've found https://github.com/etewiah/property_web_builder/blob/master/config/import_mappings/api_pwb.json which includes 'property-photos' field, by I don't know how to use this api_pwb. Also the file doesn't provide enough information - are the imag

[2018-02-26 10:46] etewiah commented on #69
Hi @vvalchev , I didn't get to finish work on the CSV imports so yes you will find it does not yet support photos.

I found a lot of people wanted to import properties from existing websites so I put more work into that and there is support for importing photos from other websites.  You can find instructions about that here:

https://github.com/etewiah/property_web_builder/wiki/Using-the-PropertyW

[2018-02-28 10:24] etewiah commented on #64
Hi @SteveRedka, can you confirm that I can close this issue?

[2018-03-13 18:23] prateekdarmwal1 opened #71 "cannot use geokit or Geocoder inside property_web_builder engine"
I was customizing the property_web_builder engine for getting nearby results using Geokit or Geocoder gem, but can't use any of it.
getting undefined method 'gecoded_by' using 'Geocoder' gem and undefined method 'acts_as_mappable' for 'geokit-rails' gem.

Here is what I was doing -
For **geokit-rails**

  class Prop < ApplicationRecord
    translates :title, :description
    globalize_accessors lo

[2018-03-13 19:06] prateekdarmwal1 commented on #71
Added gem to application instead of pwb engine and it worked. Closing issue now.

[2018-03-13 19:08] #71 closed

[2018-03-14 08:14] etewiah commented on #71
Hi @prateekdarmwal1 , the Geocoder gem works fine with the PWB gem.  You can see here that I'm using it at line 9:

https://github.com/etewiah/property_web_builder/blob/master/app/models/pwb/prop.rb

Perhaps you were using an older version of the gem.....   Anyway, I'm glad you found a workaround.

[2018-03-14 08:18] #64 closed

[2018-03-14 08:52] etewiah commented on #3
I've decided to change the approach to theming.  I am now working on implementing themes as Vue.js / vuetify frontends.  The project for this is here:

https://github.com/etewiah/pwb-themes-base

This makes it super easy to adapt the front end which will talk to the rails server via API calls

[2018-03-15 07:24] prateekdarmwal commented on #71
Hi @etewiah, Yes I might be using an older version but my issue was resolved. By the way thanks for your reply its good to see that you guys are continuously watching all issues. Great Job!

[2018-03-15 10:18] etewiah commented on #71
Cool.  We're working on a new approach to the front end using vue js.  Its early days still but it will make it much easier to modify the look and feel:

https://github.com/etewiah/pwb-themes-base

[2018-03-21 07:32] fercreek opened #72 "Validation failed: Page must exist"
Hi!

I'm installing an existing app, well my issue is when I'm running
`rails pwb:db:seed` I have an error similar to #38

My environment
[code]

![image](https://user-images.githubusercontent.com/6548504/37698192-06315fce-2ca7-11e8-91ed-07043155cdf8.png)

[2018-03-21 12:41] etewiah commented on #72
Hi @fercreek , are you following the instructions in the readme for "Install as a standalone site" or the instructions for "Installation within an existing Rails app"?

[2018-03-21 21:53] fercreek commented on #72
@etewiah Installation within an existing Rails app

[2018-03-22 10:40] etewiah commented on #72
Please follow the instructions in the readme for "Install as a standalone site" to confirm that works.  Installing within an existing rails app is more tricky as you may have something in there that causes issues and I won't be able to identify what it is without knowing a lot more about the rails app you created.

[2018-03-22 18:33] fercreek commented on #72
I created a new app. It's okay for you if I show you the Gemfile?  Anyways, let me try with Standalone Site

[2018-03-24 21:34] freezybot opened #73 "Contact request error"
Dear,
When the "SEND" button is activated in the contact page the email is not sent.

My app was deployed in Heroku and I changed the mail in the admin panel.

Kind regards,

[2018-03-25 00:26] fercreek commented on #72
Using `Install as a standalone site` works.

[2018-03-25 10:49] etewiah commented on #73
Hello @freezybot , this is because the heroku sendgrid addon has to be manually provisioned.  Please find more details about this here:

https://github.com/etewiah/property_web_builder/wiki/Enabling-contact-forms

[2018-03-25 20:03] etewiah commented on #73
Glad to hear that.

[2018-03-25 20:03] #73 closed

[2018-04-10 09:02] #72 closed

[2018-05-01 10:05] SteveRedka opened #75 "Lack of development instructions/can't get test suite to pass"
Hi.

I wanted to do some enhancements, but I couldn't even set up pwb separately locally.

Most of the tests fail with:
[code]
Although the key is set in `config.yml.travis`. Putting it into said `config/secrets.yml` doesn't affect anything.

`rails server` fails with this error:
[code]
`rails console` returns this:
[code]

I checked the contribution instructions and wiki. They don't tell anything

[2018-05-01 14:29] etewiah commented on #75
Hi Steve,  thanks for your interest in PWB.

PWB is a rails engine - you can read more about engines here:

http://guides.rubyonrails.org/engines.html

This means that the secrets.yml file you need is in the /spec/dummy/config directory.

You will also need to go to the /spec/dummy directory to run "rails c" and "rails s".

[2018-05-07 17:00] etewiah commented on #75
Hi Steve, I trust I have answered your questions fully so I'll close this issue.

[2018-05-07 17:00] #75 closed

[2018-06-15 10:50] nuno84 opened #76 "pwb:db:seed error"
Hi,
I am trying to install the demo using the seeds but it fails:

rails pwb:db:seed

Contents seed for ar not found
Contents seed for ca not found
Contents seed for de not found
rails aborted!
ActiveRecord::RecordNotSaved: You cannot call create unless the parent is saved

What can I do?
Thank you

[2018-06-18 14:29] nuno84 opened #78 "JS bug?"
Hi etewiah,
I've been working and evaluating your project.
I found some minor bugs and tried to understand and contribute, but as I can see, the JS section has been minified and thus, impossible to edit.
For instance, I was trying to understand why the item in the image below has the buttons active (it is the only one), but it is processed in the JS and thus, I cannot get it.
Thank you

![image](h

[2018-06-18 16:44] etewiah commented on #78
Hi @nuno84 , thanks for your interest in the project.

The code for the javascript used by the admin panel is here:

https://github.com/etewiah/property_web_builder_admin

It is built with ember.js but I am working on migrating it to vue.js:

https://github.com/etewiah/property_web_builder/issues/49

What you have noticed is not a bug.  When you change the text, those buttons appear so you can eit

[2018-06-18 16:51] etewiah commented on #76
Hello @nuno84 , can you please run the command with the "--trace" option and paste the full output in a gist so I can understand better what has happened.

[2018-06-19 08:07] nuno84 commented on #78
Hi etewiah,
The interesting is that I didn't change the text at all but those buttons appeared by default on that item.
I was going to chase the issue but then I couldn't read the JS.
Also, note that the tooltips say that it couldn't find the translation and I am not sure where (the language is in English, but it also fails in other languages)
Thank you

![image](https://user-images.githubusercont

[2018-06-19 08:13] nuno84 commented on #76
Hi etewiah,
Sure, the output is pasted below.
But this is the same issue that happens when I try to change some HTML code in any section, lets say for instance in the footer...
Please see the console output for both situations below.
Thank you

 **console output for the  page fragmento edition**

Started PUT "/api/v1/pages/page_fragment" for 192.168.1.66 at 2018-06-19 09:10:45 +0100
Cannot render

[2018-06-19 16:42] nuno84 opened #79 "Support for decorators"
Hi etewiah,
Can you please add support for decorators on this engine?
You can see it here:
https://ohmybrew.com/extending-a-rails-engine/
Thank you

[2018-06-19 18:47] Alex-Carver opened #80 "I get this error following the click to deploy Heroku App"
I tried deploying it multiple times but got the same error. I'm new to ruby on rails and have no idea how to solve it. I tried cloning it locally and changing the file to read "config.assets.compile = false" instead of true. That didn't work either. Any ideas? This is exactly what I was looking for and would love to use it rather than dealing with the headache of Worpress. Thanks!

There was an is

[2018-06-20 11:39] etewiah commented on #79
There is no clear benefit with decorators and I have a lot of useful things I can spend my limited time on so I will not be adding this - sorry.

[2018-06-20 11:39] #79 closed

[2018-06-20 17:05] etewiah commented on #80
Hi @Alex-Carver , thanks for pointing that out.  I have updated the sprockets gem and pushed that out to the repo so should all be working now.
Don't forget to star this repo if you find it useful.

[2018-06-20 17:10] etewiah commented on #7
No longer necessary

[2018-06-20 17:10] #7 closed

[2018-06-20 17:11] etewiah commented on #42
This is no longer a priority for the project.  Closing this issue to focus on more important requirements.

[2018-06-20 17:11] #42 closed

[2018-06-20 19:06] Alex-Carver commented on #80
You're the greatest! Works like a charm! One more quick question for you.
How would I go about changing the CSS and HTML of the page? Would I have to
download the repository from git and change the files locally and then
re-upload to Heroku? I'm not sure how that whole process works but I'm sure
I can figure it out. I really appreciate your help and would love to
contribute in any way possible. Th

[2018-06-20 20:34] etewiah commented on #80
Happy you're happy ;)  You can do some basic editing via the admin page but yeah, for more significant changes you could create your own fork of the repo and make changes there.
The easiest way to support this project is to spread the word (tweet, star, like on facebook, blog about it etc).   Code and documentation contributions will also be much appreciated.

And there is also this:
https://openc

[2018-06-20 20:34] #80 closed

[2018-06-20 20:42] etewiah commented on #76
I really can't figure out what is happening.  Does this happen with a completely clean database?  I'm thinking that you might have mounted the PWB engine onto an app that already has data that might somehow be causing an issue.

You can find out what is going on by adding a breakpoint at line 36 in this file:
/home/nuno/Documents/RubymineWorkspace/property_web_builder/lib/pwb/contents_seeder.rb

J

[2018-06-20 21:34] Alex-Carver commented on #80
Ok, awesome! I have one more question. Sorry! Where exactly would I edit
the HTML of the homepage? I want to change the top header and some other
styles/positioning. Thanks again for all your help! I will definitely start
sharing this and help spread the word about this fantastic application!

On Wed, Jun 20, 2018 at 3:34 PM, Ed Tewiah <notifications@github.com> wrote:

[2018-06-21 07:12] etewiah commented on #80
The header for example is here:

https://github.com/etewiah/property_web_builder/blob/master/app/views/pwb/_header.html.erb

Remember that PWB is a rails engine so you will need to understand a bit about that to make changes:

http://guides.rubyonrails.org/engines.html

[2018-06-21 08:17] nuno84 commented on #76
Hi etewiah,
The database is clean but that is not necessary per se.
The problem is both with seeding as well as when we want to edit some html through the backoffice.
I used debug to see where it fails and the problem is essentially this: "You cannot call create unless the parent is saved".
You have a function to create a join model in app/services/pwb/find_or_create_join_model.rb
The problem is t

[2018-06-22 10:45] etewiah commented on #76
I suspect this has something to do with changes in Rails 5.2.   I have been working with Rails 5.1.   When I get the chance I will upgrade to 5.2 and do some tests with that.

[2018-06-22 13:55] nuno84 commented on #76
Hi again,
I tried to create a new project using rails 5.1.6 and the error is the same.
It is easy to recreate...
Just create a blank database, migrate and seed and it will fail.
Thank you for your attention.

[2018-07-03 08:56] etewiah commented on #76
Hi there, sorry about the delay - I've been super busy.  I did upgrade Rails and did not encounter any issues so I really don't know what is happening.

We can setup a skype call to have a closer look if you wish.

[2018-08-09 09:50] etewiah commented on #4
Hi @tatyana12, @NickSchimek, Russian is already supported as you can see on the demo site:

http://propertywebbuilder.herokuapp.com/ru/p/sell

From the admin panel it is possible to add or remove Russian as a language

[2018-08-09 15:53] tatyana12 commented on #4
Hello,
On demo site I see on the right top about 4 words on Russian. But when I've clicked on them
it all go to English.... If Russian language supported it supposed to be on all website since Russian
don't understand English.
How can I see (if it done) the complete Russian version of this real estate website.
thanks.
tatyana12

[2018-08-09 21:50] etewiah commented on #4
Hi @tatyana12 , PropertyWebBuilder only translates the text for the menu etc (content that the user cannot edit).   Text like "The best realtor in London" is editable by the user so PropertyWebBuilder does not provide these translations.

If you look here you will see that you can edit the content yourself:

http://propertywebbuilder.herokuapp.com/ru/admin/pages/home/landing_hero

[2018-08-09 23:15] tatyana12 commented on #4
@etewiah , I could edit anything  even so I've seen:
"Tatyana can edit this."
I could not login or sign up (no such form as sign up was provided with certification email).
Also, I am wondering why if a user click on Spanish icon, the web site displayed  mostly on Spanish
 but you could not see the  mostly Russian if you click on Russian icon?
Isn't the web. supposed to be similar regarding differe

[2018-08-11 18:30] #69 closed

[2018-08-11 18:31] #58 closed

[2018-08-11 18:32] etewiah commented on #4
@tatyana12 , in the readme I explain that:

To see the admin panel, login as user admin@example.com with a password of "pwb123456".

[2018-08-11 20:31] tatyana12 commented on #4
etewiah,
I've translate the title and 2 lines that under title.  Even so, I've clicked on Russian,
this translation went to English version.... Is it possible to translate Russian version and not affect the English one?

[2018-11-06 11:38] cooldesigns opened #82 "Static Site Generating and Multi-site"
- Hi, the content not changing often. I think we can set the app to generate static site when content changed.
- We can make multi site for running 10x website in the same deployment.
- We can work for make customizable theme instead of different themes.
- An example website from real world https://bit.ly/2F7Ns7u

[2018-11-07 17:49] etewiah commented on #82
Hi @cooldesigns , thanks for opening your issue.  Please go ahead and add the enhancements you have suggested.

[2018-12-12 04:45] onvos commented on #13
Hello I am trying to import data from the following three websites
Primary website
https://caribbeanrealtors.com.mx/en/houses/sale/cancun/quintana+roo/i2o1?bprecio=7

Mirror websites that fit the definition of MLMs
https://www.inmuebles24.com/inmobiliarias/caribbean-realtors_50126006-inmuebles.html

https://www.rentasyventas.com/inmobiliarias/caribbean-realtors/d667.html

Saludos
B

[2018-12-12 15:23] etewiah commented on #13
Hi @onvos, I'm busy at the moment with a few projects but when I get some time I will have a look to see if I can help.

[2018-12-26 02:41] deepcell commented on #15
Hi, how can I change admin password?
the table structure has a column called `encrypted_password` data type `character varying`, what is the correct way to generate this password? I can do myself, I just need to know which algorithm was used and where it is located.
Thanks, by the way, very nice App. If I can contribute somehow I will.

[2018-12-26 03:11] deepcell opened #83 "Change Admin Password"
Hi, how can I change admin password?
the table structure has a column called encrypted_password data type character varying, what is the correct way to generate this password? I can do myself, I just need to know which algorithm was used and where it is located or if there exist another way to do that..
Thanks, by the way, very nice App. If I can contribute somehow I will.

[2018-12-26 03:32] deepcell commented on #83
Please close this issue. I figured out how to do it. Thanks.

[2018-12-26 03:32] #83 closed

[2018-12-26 03:33] deepcell commented on #15
Please ignore my comment above, it's working now. Thanks.

[2018-12-26 06:55] deepcell commented on #4
I would like to add support for Thai language, should I follow this guide? -> https://github.com/etewiah/property_web_builder/wiki/Adding-translations-for-a-new-language

[2018-12-26 13:52] etewiah commented on #4
Hello @deepcell , thanks for the offer.  Yes that guide explains everything.

[2019-01-16 19:11] dlogiudice1 commented on #83
Hello @deepcell , may you share how you changed the default password?,  embarrassingly as it may sound, i was not able to find a way my self.
May you post how to do it?
thank you.

[2019-01-16 19:17] dlogiudice1 opened #86 "Dum, but needed: how to change the admin password"
Hello @etewiah, sorry if this has been asked before, but i sincerely was not able to find any post after searching for a while...
the question is how do I change the default admin password?
thank you and sorry to bother if this has been answered before.

[2019-01-16 19:41] raulperezalejo commented on #83
I was able via the console, and worked

On Wed, Jan 16, 2019 at 4:11 PM dlogiudice1 <notifications@github.com>
wrote:

[2019-01-17 00:19] dlogiudice1 commented on #83
thank you Raul, may you share what commands you issued to do it?

[2019-01-17 11:43] deepcell commented on #83
The easiest way to do it -> https://DOMAIN.TLD/en/users/edit

[2019-01-25 09:02] etewiah commented on #86
Hello there,
From the console you can run:

[code]

You can also browse to "/en/users/edit" and change it there.  (Please don't change it on the demo site at https://propertywebbuilder.herokuapp.com/en )

[2019-01-25 09:04] #78 closed

[2019-01-25 09:04] #76 closed

[2019-01-25 11:01] #43 closed

[2019-02-04 14:15] #86 closed

[2019-03-18 11:31] rduetsch opened #88 "Property Labels"
Hello i am a big fan of Property Web Builder.
At the moment i have 3 Problems

1. How i can use the Property Labels

2. How i can change the users email Adress

3. How can i speed up the application to open faster

I will appreciate your help

[2019-03-19 14:16] etewiah commented on #88
Hi @rduetsch , thanks for your interest in PWB.  Apologies for the delay in replying.  A bit busy right now but will do my best to reply later today or tomorrow.

[2019-03-21 14:16] etewiah commented on #88
Okay, finally I got a bit of time.

How i can use the Property Labels
-  Think of the labels as tags for the properties

How i can change the users email Address
- From the console run:
[code]

How can i speed up the application to open faster
- On the free heroku plan applications take some time to load.  If you upgrade to a paid plan it will load faster.

[2019-04-16 01:57] moonbrandy opened #89 "Import data from csv not working"
Import data from csv not working

### Expected Behaviour: download the csv from property list and made modification then use import data from csv to laod back to PWB

### Actual Behaviour: Return message saying file invalid.

### Steps to reproduce the issue: download the csv from property list page and upload it from import data from csv page, error message, file invalid.

[2019-04-17 09:36] etewiah commented on #89
Hi @moonbrandy , I'm currently a bit busy with some client work but as soon as I get the chance I will have a look at fixing thing.

[2019-07-16 10:52] #88 closed

[2019-07-16 10:53] #61 closed

[2019-08-06 14:47] kolisnyklera commented on #4
@etewiah I would like to add Ukrainian translation if you are interested.

[2019-08-08 08:17] etewiah commented on #4
Thanks @kolisnyklera , will be great to add Ukrainian but can I suggest you do this in the next month or 2?  I am planning on releasing version 2 soon so will be better to add the new translations then.

Thanks

[2019-08-14 22:31] compuhension opened #90 "Rookie user question - Is it possible to edit the layout of the pages / links"
I love the simplicity and elegance of the property.

I am trying to migrate from an old open-realty site, and have everything figured out, except for adding some site links that the client likes to have on the site.

Is it possible to simply add a side navigation, or a custom page with corresponding nav at the top that I could put the links on?

Thanks in advance, and congrats on a great, easy to

[2019-08-15 10:14] etewiah commented on #90
Hi @compuhension , thanks for your interest in PWB.  You can add extra links / navigation directly in the code.
This is the layout that is used by the default theme:

https://github.com/etewiah/property_web_builder/blob/master/app/themes/default/views/layouts/pwb/application.html.erb

You will need to know a bit about html and ruby on rails to do that though.

In the next version of PWB I hope to

[2019-08-21 10:04] #90 closed

[2019-08-25 14:46] nok5150 commented on #4
@etewiah I would like to help on Thai translation and use yours for my business :)

[2019-08-25 14:48] nok5150 commented on #4
Have u already done the job?

[2019-08-31 10:43] etewiah commented on #4
Hi @nok5150 , thanks for your interest.  It will be better to wait a couple of months till the new version is ready.  If you would like to try out the beta, email me (ed at PropertyWebBuilder.com)

[2019-09-01 04:28] deepcell commented on #4
@nok5150 not yet, business was slow for last few months, we just using the English translation for now, but yes if no one get this task done I will do myself soon. I will try the new version first and then look how to proceed with that.

[2019-09-02 14:52] MohamedTay commented on #4
hi
is there any possibility to add Arabic Language?

[2019-09-02 19:45] loganfreeman commented on #4
could you add support for Chinese simplified?

[2019-09-03 07:04] etewiah commented on #4
@MohamedTay , @loganfreeman  : I personally will not add Arabic or Chinese but this project is open source.  You can go ahead and add any language you want....

[2019-11-28 09:18] rocknrollMarc commented on #4
Ok just checked it out but the translation is horrible and wrong at points. Ill look it over and send you a pullrequest when done. Greetings from Hamburg Germany

[2019-11-28 11:14] etewiah commented on #4
Many thanks @rocknrollMarc , much appreciated!

[2019-11-29 08:15] rocknrollMarc commented on #4
Hahahahah Ive actualy done the translation to the sample data but  I cant do a pull request as my browser is to old and I dont have a newer machine here at hand so ill post the file here. Sorry for that.

[2019-11-29 08:15] rocknrollMarc commented on #4
---
de:
  website:
    footer_content:
      <p>Wir sind stolz registrierte Mitglieder der National association of realtors zu sein.</p>
      <p>Registrierungsnummer 12121212</p>
  legal:
    content_html:
      main_content:
        <b>Haftungsausschluss</b>  </br>
        Das Internet-Team von Example RE ist bestrebt, Ihnen auf dieser Website nützliche, genaue und aktuelle Informationen zur Ver

[2019-11-29 08:21] rocknrollMarc commented on #4
ok that isnt working give me you mail address or actualy you can get it of my repo maybe better.:) Ill look into some other issues later on. Im intersted in the api that workes for ember, I have some experience in ember and react so maybe ill do that to.

I wrote you a mail some days ago telling you that i worked for a hotel real estate company , my father and I was actualy thinking of writing a c

[2019-11-29 14:43] etewiah commented on #4
Hey Marc, I didn't receive an email from you but I've seen your email on your repo so I'll send you one now.

Could work out great collaborating.  I've already made some enhancements for short term rentals that might be useful for a hotel.  I haven't had the chance to release that yet but I can share it with you privately.

[2019-12-03 15:43] etewiah commented on #4
@rocknrollMarc , I cannot reach you via email - I get a notification back saying delivery failed because your inbox is full.  Also tried reaching you via twitter.

[2020-01-18 23:15] michelefa1988 opened #95 "Docker"
Would you be able to provider a Dockerfile in order to run this app within Docker. The Docker file would contain env variables which would enable the application to connect to the database.

Thanks

[2020-01-19 18:56] etewiah commented on #95
I won't have the time to do this in the next month or so but a pull request for this will be gladly accepted.

[2020-02-04 12:33] Viniciusvalenca opened #96 "Cant start app"
hello people, when i try to run rails s after bundle install i got this message
"The git source https://github.com/fredngo/paloma.git is not yet checked out. Please run `bundle install` before trying to start your application"
anyone know how to solve this ? thanks

[2020-02-05 14:58] etewiah commented on #96
Hi, did you follow the instructions here?

https://github.com/etewiah/property_web_builder/wiki/Non-Heroku-Installation

You need to add this to your gemfile:

gem 'paloma', github: 'fredngo/paloma'

[2020-02-05 15:58] Viniciusvalenca commented on #96
yeah...i read that, but even with this line on gemfile i still get this error

[2020-02-07 06:00] ongamiel opened #97 "Adding Philippine Peso to the currency."
Hi, this a feature request. Can you add Philippine Peso to the list of currencies? Thanks.

[2020-02-08 10:42] aditbaco commented on #4
Hi @etewiah, great project you have here. Would love to help for Indonesian (ID) translation as I'm a native and have done several English to Indonesian translation project.
Do reach me via github or by replying my email in your pwb account.

thank you.

[2020-02-09 09:32] architekco commented on #96
did you npm install? i had this issue as well but was able to move past it (i think the solution was npm install). about to submit the issue i am having.

[2020-02-09 09:38] architekco opened #98 "Could not find gem 'globalize (~> 5.1.0.beta2)'"
I keep getting stuck with this error.

`
Bundler could not find compatible versions for gem "globalize":
  In Gemfile:
    globalize

    pwb was resolved to 1.3.0, which depends on
      globalize (~> 5.1.0.beta2)

Could not find gem 'globalize (~> 5.1.0.beta2)', which is required by gem 'pwb',
in any of the relevant sources:
  https://github.com/globalize/globalize (at `master@6207a3b)`
`

Rails

[2020-02-09 21:34] etewiah commented on #98
Hi @architekco , thanks for checking out PWB.  I will need to know a bit more about what you have tried to be able to help.  Did you create a new rails project and add pwb as a gem?  If so then share your gemfile here so I can see what other gems you've installed.

Also, thank you very much for your generous contribution to the open collective for this.  For that I can offer you phone support to g

[2020-02-09 22:29] Viniciusvalenca commented on #96
No luck....
`npm WARN saveError ENOENT: no such file or directory, open '/home/vinicius/property_web_builder-master/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/home/vinicius/property_web_builder-master/package.json'
npm WARN property_web_builder-master No description
npm WARN property_web_builder-master No repository field.
npm WARN property_web_builder-master No README

[2020-02-10 14:52] etewiah commented on #4
Many thanks @aditbaco, the instructions for adding a new translation are here:

https://github.com/etewiah/property_web_builder/wiki/Adding-translations-for-a-new-language

If there is anything that is not clear in the instructions please let me know

[2020-02-10 15:08] #95 closed

[2020-02-10 15:24] etewiah commented on #96
Can you share your Gemfile and Gemfile.lock files?

[2020-02-10 15:25] etewiah commented on #36
Closing as I will not have the time to implement this

[2020-02-10 15:25] #36 closed

[2020-02-11 05:59] architekco commented on #98
my pleasure! this is an awesome project. im glad i found it and am happy to contribute. I will send you an email with my skype details and we can pick up the chat from there.

as for this error - i actually wiped the server that i received this error on (oops) but am starting a fresh docker set up (i saw there was a request for a dockerized version i think so figured id try). I dont know if you wa

[2020-02-11 13:02] etewiah commented on #98
I think I know what it is!  I built the library on rails 5 and you probably installed rails 6.

I have just now created a rails-6 branch for both pwb and property_web_scraper so you can try that out by appending that branch when you reference them in the gemfile:

`gem 'pwb', git: 'https://github.com/etewiah/property_web_builder', branch: 'rails-6'`
`gem 'property_web_scraper', git: 'https://githu

[2020-02-21 16:36] adrianschung opened #99 "Customize admin views"
Hi, I'm trying to add a tab to the properties form but the admin views are built with Vue and uneditable from the gem. I looked at the new admin repo in #49 but it seems to be incomplete. I was wondering if there was a Vue project for the current admin views that could be used to edit and build new ones?

[2020-02-24 18:37] etewiah commented on #99
HI @adrianschung, apologies for the delay in replying.  I've been quite busy.

Right now the source code for the admin view is not available.  I'm doing a complete rewrite for paying clients.  I hope to be able to release that as open source later but for now I'm only able to share it with the small group that is actively helping me work on the new version.

[2020-02-24 18:45] etewiah commented on #4
Closing this issue as I'm getting a lot of offers to add translations from people who have not read the docs and end up wasting time.
If you really want to add a language feel free to follow the instructions and submit a pull request:  https://github.com/etewiah/property_web_builder/wiki/Adding-translations-for-a-new-language

If there is something about the instructions which you don't understand

[2020-02-24 18:45] #4 closed

[2020-02-24 18:45] #96 closed

[2020-02-26 07:16] terenceng2010 opened #101 "Error when uploading images to Cloudinary"
I am just starting out to try this project. It is great so far!

I encounter the below issue when trying to uploading image files (e.g upload the system logo at /admin/website/settings/appearance )

[code]

From what I have seen so far the Cloudinary API has changed a bit thus causing this issue (https://stackoverflow.com/questions/56771315/need-to-implement-cache-if-you-want-to-use-cloudinarycarr

[2020-02-26 08:08] terenceng2010 commented on #101
I figure out where to add the init code, and after adding it, uploading image works again. Below is my pull request.

https://github.com/etewiah/property_web_builder/pull/102

[2020-02-27 15:29] etewiah commented on #101
Hi @terenceng2010 , many thanks for picking up on this issue and submitting the pull request to fix it!!

[2020-02-27 15:29] #101 closed

[2020-02-27 15:29] #99 closed

[2020-02-27 15:29] etewiah commented on #101
Hi @terenceng2010 , many thanks for picking up on this issue and submitting the pull request to fix it!!

[2020-02-27 16:10] #22 closed

[2020-03-17 15:55] x8091 commented on #98
I changed Gemfile following your suggestion
[code]
and then I executed:
[code]
However it failed at
`rails pwb:install:migrations`
(I already added mount Pwb::Engine => '/' to config/routes.rb)
Here is log details with --trace
[code]

Could you please take a look?

[2020-04-25 08:36] etewiah commented on #97
Sorry, I haven't had the time to look at this and with the amount of work I have at the moment I don't expect I will be able to do this any time soon.

[2020-04-25 08:36] #97 closed

[2020-04-25 09:07] etewiah commented on #98
@x8091 , looks like you are missing the SessionsController.  The problem this issue was opened for has been resolved so I'm going to go ahead and close it.

[2020-04-25 09:07] #98 closed

[2020-06-03 06:26] nok5150 opened #105 "Mutiple Area Unit"
Your project is brilliant and I going to try it for my website but just a little bit sticky.   Could you supply for editable or more area unit?  Or how do I append them more?  Because in Thailand their use local metric in selling house.  Thank you.

[2020-06-03 06:37] nok5150 commented on #105
And do you plan for Rent property?  Or pls, guide me how to customize that.  Thanks again.

[2020-06-05 08:50] etewiah commented on #105
Hello @nok5150 , if you look at the demo you will see that it supports rental properties:

https://propertywebbuilder.herokuapp.com/en/rent

[2020-06-05 08:50] #105 closed

[2020-06-07 07:32] nok5150 opened #107 "Default Area Unit"
Thanks for your last reply.  The remain question is How do I create more  Area Unit?  Here in SEA we use vary of area unit beside SI and BI metric.  Also floating Plot and Construction area. in 2 decimal.

[2020-08-11 18:48] etewiah commented on #107
Sorry about the delay.   To add more Area Units you would have to be a developer who is comfortable going through the source code to make the changes.  Unfortunately at the moment I'm too busy to be able to help with this.

[2020-08-11 18:48] #107 closed

[2020-08-11 18:58] etewiah commented on #89
Sorry but I don't expect to be able to fix this - I don't think this feature is used much anyway.

[2020-08-11 18:58] #89 closed

[2020-11-04 10:15] etewiah opened #110 "Who's using PropertyWebBuilder?"
Was curious to find out who is using PropertyWebBuilder so I did some quick research and found these sites:

https://www.santiagoimobiliaria.pt/

http://verduzcovende.com

http://bakerrealtync.com/

https://hua-hin.herokuapp.com

Would love to find more sites so if you are using PropertyWebBuilder please add you site to this list ;)

[2020-11-17 23:17] silvanito opened #111 "Google Maps API error: RefererNotAllowedMapError"
Hi everybody!

I'm getting a Google Maps JavaScript API error: RefererNotAllowedMapError

So, I got a new key from Google, and added the following to my application.html.erb

[code]
Then in the console did:
`rails credentials:edit
`
And added a new line with google_maps_api_key and my key

Still no luck...

Any ideas?

[2020-11-29 10:41] etewiah commented on #111
Hey Silvano, that should work.  Perhaps there is a typo somewhere in setting the credentials.

Anyway, as per our phone conversation I've given you access to the pwb-premium version where I will add a section in the admin so the maps api key can be set there.

[2020-11-29 10:41] #111 closed

[2021-01-10 17:09] ciroiriarte opened #112 "Project communication channels"
Hello!, I don't have issues to raise so far but I have many questions :).

I'm evaluating building a small web site with real state offerings, and I'm struggling to find where can I ask questions other users can answer. Is there any forum/IRC channel/discord server related to the project?

[2021-01-11 09:25] etewiah commented on #112
Hi  @ciroiriarte , I haven't got round to setting up a forum yet but feel free to ask your questions here.

[2021-05-22 20:32] fdc263 opened #116 "Googke Maps Api Key"
How I do setup my api key to avoid errors loading maps?

Currently gem is using the key `AIzaSyCPorm8YzIaUGhKfe5cvpgofZ_gdT8hdZw` and raising  `Google Maps JavaScript API error: RefererNotAllowedMapError`

[2021-05-24 11:15] etewiah commented on #116
Hi there.  Right now there isn't an option in the UI to update the gmaps api key.  I'm open to a pull request for this ;)

[2021-05-24 12:20] fdc263 commented on #116
Do you have any implementation suggestions

[2021-05-24 18:59] etewiah commented on #116
You could save a value in the website model and inject that in the vue-main.js file where the current key is hardcoded.

[2021-05-30 15:04] fdc263 commented on #116
has this already been implemented in pwb-premium? can you port the implementation here?

[2021-05-30 17:50] etewiah commented on #116
pwb-premium uses rails 6 with webpacker and I set the key in the webpack config which is not available in this project.
I can create an instance of pwb-premium for you to try out if you wish.  I'll send you an email about this.

[2021-06-14 19:52] ck7798 opened #117 "Problem Deploying app to Heroku"
Hi everyone! I am a bit new to using ruby on rails as well as Heroku.
I'm having an issue when I click deploy app to Heroku, this is the error:
-----> Building on the Heroku-20 stack
-----> Determining which buildpack to use for this app
-----> Ruby app detected
-----> Installing bundler 2.2.16
-----> Removing BUNDLED WITH version in the Gemfile.lock
-----> Compiling Ruby/Rails
-----> Using Ruby v

[2021-06-15 10:15] etewiah commented on #117
Looks like the issue with mimemagic dependency:

https://dev.to/cseeman/what-s-up-with-mimemagic-breaking-everything-he1

I won't be able to fix it this week but I'll try to get to it next week.

[2021-06-27 09:41] ck7798 commented on #117
Any luck with it?

[2021-06-28 05:29] etewiah commented on #117
Hi @ck7798 , I've updated the pwb-heroku package to use the updated mimemagic gem.  Deploying should work now.

Also if you want to try the Saas version of PropertyWebBuilder, reach out to me and I'll deploy an instance for you to try out.

[2021-06-28 05:29] #116 closed

[2021-06-28 06:47] ck7798 commented on #117
thanks a lot @etewiah, I'm getting a problem when building the app where it says 'Could not detect the rake tasks'

[2021-06-28 08:20] etewiah commented on #117
Okay, looks like carrierwave needed to be updated too - should work now.

[2021-06-29 04:28] ck7798 commented on #117
Yes it works well now, thank you very much!

[2021-06-29 04:28] #117 closed

[2021-07-12 09:36] ck7798 opened #118 "Adding currency"
I would like to add the Kenya shilling to the currency as well as Swahili language. I'm also having a problem saving data from the request and contact forms. Any advice on what to do?

[2021-07-14 11:49] #112 closed

[2021-07-14 12:26] etewiah commented on #118
Hi there,

To add support for another region you can follow this guide:

 https://github.com/etewiah/property_web_builder/wiki/Adding-translations-for-a-new-language

For the forms you can follow this.
https://github.com/etewiah/property_web_builder/wiki/Enabling-contact-forms

If you come across any issues in the future please remember to open an issue for each individual problem you encounter an

[2021-07-14 12:26] #118 closed

[2021-07-21 11:42] ck7798 opened #119 "How to edit code for the Heroku deloyed app"
Hello, I am having trouble opening the code locally on my pc from the deployed app on heroku. I have already installed the heroku CLI and git but I'm still facing this issue. Any suggestions on how to go about this would be of great help. Thanks.

[2021-07-21 14:00] etewiah commented on #119
Sorry I have no idea what you mean.

[2021-07-21 14:00] #119 closed

[2021-07-21 16:03] ck7798 commented on #119
Ok, let me try be clearer. I'm new to ruby on rails and managed to successfully deploy pwb on heroku. I have already made some changes to the app deployed via the admin page. Now my problem is I would like to edit the code itself for things like the currency and etc. and don't really know how to.

[2022-05-23 10:55] Viniciusvalenca opened #128 "Error deploy to heroku"
when i tried to deploy on heroku i got this error

`rake aborted!
ArgumentError: wrong number of arguments (given 3, expected 2)
/app/vendor/bundle/ruby/3.0.0/gems/activerecord-5.2.6/lib/active_record/type/adapter_specific_registry.rb:9:in `add_modifier'
/app/vendor/bundle/ruby/3.0.0/gems/activerecord-5.2.6/lib/active_record/type.rb:27:in `add_modifier'
/app/vendor/bundle/ruby/3.0.0/gems/activerec

[2022-05-23 11:13] etewiah commented on #128
Hi @Viniciusvalenca , I haven't had the chance to test with ruby 3.  I will update the readme with this.

[2022-06-18 14:26] etewiah commented on #128
Hi @Viniciusvalenca, I have now updated the project to use Rails 6 so Ruby 3 is now supported.

I have also changed it from a Rails engine to a standalone project.  Please try it out and let me know how it goes.

[2022-07-04 23:35] christmoore commented on #2
What's the current status for this issue?